<center>
<img src="https://cdn.images.express.co.uk/img/dynamic/36/590x/secondary/Jack-Nicholson-in-The-Shining-2043016.jpg" alt="Jack-Nicholson-in-The-Shining">
</center>

In [1]:
#from PIL import Image
#Image.open( "Jack-Nicholson-in-The-Shining-2043016.jpg" )

# <center> <h1> Here's Python! </h1> </center>

## Your Python version

In [2]:
! python --version

Python 3.8.5

#### [Python programming language](https://www.python.org)
 
#### Here you can see an additional information about Python (3.8): https://docs.python.org/3.8/tutorial/

## Using python as calculator

In [3]:
1 + 1

2

In [4]:
5 * 5

25

In [5]:
10 * ( 15 - 5 )

100

In [6]:
2**4

16

In [7]:
10 / 2

5.0

In [8]:
10 // 2

5

In [9]:
10 / 3

3.3333333333333335

In [10]:
10 // 3

3

In [11]:
10 / 9

1.1111111111111112

In [12]:
10 % 9

1

In [13]:
'Hello world'

'Hello world'

In [14]:
"Hello" + " " + "world"

'Hello world'

In [15]:
'Hello' + ' world' + ", ok?"

'Hello world, ok?'

### and so on...

## Variables

In [16]:
a = 'Hello world'

In [17]:
a

'Hello world'

In [18]:
type( a )

str

In [19]:
a = 1
b = 2
c = a / b

print( a, b, c )

# Note that `c` has different type (float) compared to `a` and `b` (which are of integer type)
print( type( a ), type( b ), type( c ) )

1 2 0.5
<class 'int'> <class 'int'> <class 'float'>

In [20]:
v73 = type( 73 )
type( 73 )

int

In [21]:
v73

int

In [22]:
print( v73 )

<class 'int'>

In [23]:
type( v73 )

type

In [24]:
print( a == b )
print( a + 1 > b )
print( a + 1 >= b )
print( type( a + 1 > b ) )

False
False
True
<class 'bool'>

In [25]:
a2 = a
a2

1

In [26]:
a2 + 4

5

In [27]:
a2 = a2 + 4
a2

5

In [28]:
a2 = a
a2

1

In [29]:
a2 += 4 # a2 = a2 + 4
a2

5

In [30]:
a3 = a + 3
a3

4

In [31]:
a3 *= 3
a3
# and the same for '-=' and '/=' and '%=' and '//=' and '**='

12

In [32]:
1 & 1

1

In [33]:
1 & 0

0

In [34]:
0 & 0

0

In [35]:
1 | 1

1

In [36]:
1 | 0

1

In [37]:
0 | 0

0

In [38]:
1 ^ 0

1

In [39]:
1 ^ 1

0

In [40]:
0 ^ 1

1

In [41]:
0 ^ 0

0

In [42]:
not 1

False

In [43]:
not 0

True

### and so on...

## Loops and iterables

In [44]:
a = 0

while a < 10:
    a += 1
    print( a**2 )

1
4
9
16
25
36
49
64
81
100

In [45]:
a = 0

while a < 10:
  a += 1
  print( a ** 2 )

1
4
9
16
25
36
49
64
81
100

In [46]:
a = [ 1, 2, 3, 'Hello' ]

for i in a:
    print( i, type( i ) )

print( type( a ) )

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
Hello <class 'str'>
<class 'list'>

In [47]:
a = []
for i in range( 5 ):
    a.append( i )
print( a )

[0, 1, 2, 3, 4]

In [48]:
a = []
for i in range( 1, 20, 3 ):
    print( i )
    a.insert( 0, i )
print(  )
print( a )

1
4
7
10
13
16
19

[19, 16, 13, 10, 7, 4, 1]

In [49]:
a = [ 1, 1, 1, 1, 1, 1, 1, 1, 1, 1 ]
for i in range( 10 ):
    print( a[i] )

1
1
1
1
1
1
1
1
1
1

In [50]:
a = [ 1, 1, 1, 1, 1, 1, 1, 1, 1, 1 ]
for i in range( 10 ):
    print( a )

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [51]:
a = [ 1, 1, 1, 1, 1, 1, 1, 1, 1, 1 ]
b = [ 1, 1, 1, 1, 1 ]
c = [ 1, 1, 1, 1, 1 ]
for i in range( 1, 10, 3 ):
    print( i )
    a.insert( 0, 'c' )
    b.insert( i, 'w' )
    c.insert( i + 1, 'w' )
print(  )
print( a )
print( "\n" )
print( b )
print( "" )
print( c )

1
4
7

['c', 'c', 'c', 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]


[1, 'w', 1, 1, 'w', 1, 1, 'w']

[1, 1, 'w', 1, 1, 'w', 1, 'w']

In [52]:
a = [ 1, 1, 1 ]
b = [ 5, 5, 5 ]
a.extend( b )
a

[1, 1, 1, 5, 5, 5]

In [53]:
a = [ 1, 1, 1 ]
a.remove( 1 )
a

[1, 1]

In [54]:
a = [ 4, 1, 1 ]
a.remove( 4 )
a

[1, 1]

In [55]:
a = [ 4, 1, 1 ]
a.remove( 7 )
a

ValueError: list.remove(x): x not in list

In [ ]:
a = [ 4, 1, 1, 5, 8, 10, 4, -4 ]
a.count( -4 )

In [56]:
a = [ 4, 1, 1, 5, 8, 10, 4, -4, 't', 'r' ]
a.reverse()
a

['r', 't', -4, 4, 10, 8, 5, 1, 1, 4]

In [57]:
a = [ 4, 1, 1, 5, 8, 10, 4, -4, 't', 'r' ]
a.clear()
a

[]

In [58]:
a = [ 4, 1, 1, 5, 8, 10, 4, -4 ]
a.sort()
a

[-4, 1, 1, 4, 4, 5, 8, 10]

In [59]:
a = [ 4, 1, 1, 5, 8, 10, 4, -4, 't', 'r' ]
a.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

### and so on...

## Functions

In [60]:
def my_function( x ):
    return x**2

# For such simple functions one may use lambdas:
my_lambda_function = lambda x: x**2

for i in range( 5 ):
    print( i, my_function( i ), my_lambda_function( i ) )

0 0 0
1 1 1
2 4 4
3 9 9
4 16 16

In [61]:
def my_function( x ):
    def my_second_function( y ):
        return y**2
    return x**2

for i in range( 5 ):
    print( i, my_function( i ) )

0 0
1 1
2 4
3 9
4 16

In [62]:
def my_function( x ):
    pass

for i in range( 5 ):
    print( i, my_function( i ) )

0 None
1 None
2 None
3 None
4 None

In [63]:
def my_function( x, y ):
    return x**y

k = 2
for i in range( 5 ):
    print( i, '**', k, 'is', my_function( i, k ) )

0 ** 2 is 0
1 ** 2 is 1
2 ** 2 is 4
3 ** 2 is 9
4 ** 2 is 16

In [64]:
def adder( *nums ): # nums = args
    sum = 0
    for n in nums:
        sum += n
    print( "Sum: ", sum )

adder( 3, 5 )
adder( 4, 5, 6, 7 )
adder( 1, 2, 3, 5, 6 )

Sum:  8
Sum:  22
Sum:  17

In [65]:
def adder( **nums ): # nums = kwargs
    sum = 0
    for n in nums:
        sum += n
    print( "Sum: ", sum )

adder( 3, 5 )
adder( 4, 5, 6, 7 )
adder( 1, 2, 3, 5, 6 )

TypeError: adder() takes 0 positional arguments but 2 were given

In [66]:
def intro( **data ):
    print( "\nData type of argument: ", type( data ) )
    for key, value in data.items():
        print( "{} is {}".format( key, value ) )

intro( Firstname = "Sita", Lastname = "Sharma", Age = 22, Phone = 1234567890 )

Data type of argument:  <class 'dict'>
Firstname is Sita
Lastname is Sharma
Age is 22
Phone is 1234567890

In [67]:
def intro( **data ):
    print( "\nData type of argument: ", type( data ) )
    for key, value in data.items():
        print( "{} is {}".format( key, value ) )

intro( Firstname = "John", Lastname = "Wood", Email = "johnwood@nomail.com", 
      Country = "Wakanda", Age = 25, Phone = 9876543210 )

Data type of argument:  <class 'dict'>
Firstname is John
Lastname is Wood
Email is johnwood@nomail.com
Country is Wakanda
Age is 25
Phone is 9876543210

In [68]:
def intro( *data ):
    print( "\nData type of argument: ", type( data ) )
    for key, value in data.items():
        print( "{} is {}".format( key, value ) )

intro( Firstname = "John", Lastname = "Wood", Email = "johnwood@nomail.com", 
      Country = "Wakanda", Age = 25, Phone = 9876543210 )

TypeError: intro() got an unexpected keyword argument 'Firstname'

In [69]:
a = [ 1, 2, 3 ]
b = [ *a, 4, 5, 6 ]
print( b )
b

[1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [70]:
a = [ 1, 2, 3 ]
b = [ a, 4, 5, 6 ]
print( b )

[[1, 2, 3], 4, 5, 6]

In [71]:
def printScores( student, *scores ):
    print( f"Student Name: { student }" )
    for score in scores:
        print( score )
        
printScores( "Jonathan", 100, 95, 88, 92, 99 )

Student Name: Jonathan
100
95
88
92
99

In [72]:
def printScores( student, *scores ):
    print( f"Student Name: { student }" )
    for score in scores:
        print( score )
        
printScores( 100, 95, 88, 92, 99 )

Student Name: 100
95
88
92
99

In [73]:
def printPetNames( owner, **pets ):
    print( f"Owner Name: { owner }" )
    for pet,name in pets.items():
        print( f"{ pet }: { name }" )
        
printPetNames( "Jonathan", dog = "Brock", fish = [ "Larry", "Curly", "Moe" ], turtle = "Shelldon" )

Owner Name: Jonathan
dog: Brock
fish: ['Larry', 'Curly', 'Moe']
turtle: Shelldon

In [74]:
# See below

name = "Fred"
f"He said his name is {name}."

'He said his name is Fred.'

In [75]:
def my_function( *argc ):
    print( type( argc ) )
    return argc
my_function( 1, 2, 't' )

<class 'tuple'>

(1, 2, 't')

In [76]:
def my_function( *argc ):
    print( type( argc ) )
    return argc
my_function( 1, 2, 't', d = 3 )

TypeError: my_function() got an unexpected keyword argument 'd'

In [77]:
def my_function( **argc ):
    print( type( argc ) )
    return argc
my_function( a = 1, b = 2, c = 't' )

<class 'dict'>

{'a': 1, 'b': 2, 'c': 't'}

In [78]:
def my_function( q, *AAA, **BBB ):
    print( type( q ) )
    print( type( AAA ) )
    print( type( BBB ) )
    return q, AAA, BBB

my_function( 4, 111, 1, 2, 3, a = 't', b = 56, c = '4t', d = '45' )

<class 'int'>
<class 'tuple'>
<class 'dict'>

(4, (111, 1, 2, 3), {'a': 't', 'b': 56, 'c': '4t', 'd': '45'})

In [79]:
def my_function( q, **BBB, *AAA ):
    print( type( q ) )
    print( type( AAA ) )
    print( type( BBB ) )
    return q, AAA, BBB

my_function( 4, a = 't', b = 56, c = '4t', d = '45', 111, 1, 2, 3 )

SyntaxError: invalid syntax (<ipython-input-79-1ef1aa4dea67>, line 1)

In [80]:
func = lambda x, y: x + y
func( 4, 6 )

10

In [81]:
func = lambda x, y: x + y
func( 'a', 'b' )

'ab'

In [82]:
func = lambda x, y: x + y
func( 5, 'b' )

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [83]:
( lambda x, y: x + y )( 1, 2 )

3

In [84]:
( lambda x, y: x + y )( 'a', 'b' )

'ab'

In [85]:
( lambda x, y: x ** y )( 3, 3 )

27

In [86]:
func = lambda *args: args
func( 1, 2, 3, 4 )

(1, 2, 3, 4)

In [87]:
func = lambda *args: args
func( 1, 2, 'z', 'x' )

(1, 2, 'z', 'x')

### and so on...

# Coffee Break?

# A bit more comprehensive intro

### Basic types and operations

Now, let's start with defining some variables of basic types:

In [88]:
# Anything after a '#' is a comment

# integers:
a1 = 1 # Define an integer variable named 'a1' of value 1
a2 = -42

# floats:
b = 1.0
c = .5
d = 8.
e = 1.2e3

print( a1, a2 )
print( b )
print( c )
print( d )
print( e )

1 -42
1.0
0.5
8.0
1200.0

In [89]:
# even complex numbers:
c1 = 2 + 3j
c2 = 1 / 1j
c3 = 1j
print( c1 )
print( c2 )
print( c3 )

(2+3j)
-1j
1j

In [90]:
c4 = 1 + 2i
print(c4)

SyntaxError: invalid syntax (<ipython-input-90-186551778794>, line 1)

In [91]:
c4 = j
print(c4)

NameError: name 'j' is not defined

In [92]:
# strings
f1 = 'Hello!'
f2 = "Hi"

g = """Hi there!
I'm a multiline string!"""

h = 'foo'     'bar'
h1 = 'foo',     'bar'

i = ' """"""""""" '

print( f1, f2 )
print( g )
print( h )
print( h1 )
print( i )

Hello! Hi
Hi there!
I'm a multiline string!
foobar
('foo', 'bar')
 """""""""""

In [93]:
# booleans
j = True
k = False
l = j == k

print( j, k, l )

True False False

In [94]:
# booleans
j = True
k = True
l = j == k

print( j, k, l )

True True True

In [95]:
# booleans
j = False
k = False
l = j == k

print( j, k, l )

False False True

In [96]:
a1 = 1
e = 1.2e3
# In case you want to check variable type:
print( type( a1 ) )
print( type( e ) )
print( a1 )
print( e )

<class 'int'>
<class 'float'>
1
1200.0

In [97]:
type( print )

builtin_function_or_method

In [98]:
aaa = print( 1 )

1

In [99]:
aaa

In [100]:
type( aaa )

NoneType

In [101]:
type( print ( 1 ) )

1

NoneType

In [102]:
type( 1 )

int

In [103]:
type( type( 1 ) )

type

In [104]:
aaa = None

In [105]:
aaa

In [106]:
print( aaa )

None

In [107]:
type( aaa )

NoneType

In [108]:
null_variable = None
not_null_variable = 'Hello There!'

if null_variable is None:
    print('null_variable is None')
else:
    print('null_variable is not None')

null_variable is None

In [109]:
# Operations:
print( 2 + 2 )
print( 2 - 2 )
print( 2 * 2 )
print( 1 / 2 ) # note that python is smart enough to convert integer to float here
print( 7 // 3 )
print( 10 % 9 )
print( 2**4 )

a = 1
b = 2
print( "Hello " + "world!" )
print( "%i + %i = %i" % ( a, b, a + b ) )
print( "%f + %f = %f" % ( a, b, a + b ) )
print( "{} + {} = {}".format( a, b, a + b ) )
print( "{var_a} + {var_b} = {result}".format( result = a + b, var_a = a, var_b = b ) )
print( "1 + 2 = %.6f" % ( 1 + 2 ) )
print( "1 + 2 = {}".format( 1 + 2 ) )
print( "1 + 2 = {:.4f}".format( 1 + 2 ) )

4
0
4
0.5
2
1
16
Hello world!
1 + 2 = 3
1.000000 + 2.000000 = 3.000000
1 + 2 = 3
1 + 2 = 3
1 + 2 = 3.000000
1 + 2 = 3
1 + 2 = 3.0000

In [110]:
'Hello, {}!'.format('world')

'Hello, world!'

Note that after a cell execution the value of the last expression will be printed out, so you don't always have to use the `print` function:

In [111]:
a = 1
b = 2
a + b

3

Unless you finish a line with a semicolon:

In [112]:
a + b;

We've defined a number of variables so far. Here's how you can list all of them (+ some internals of python):

In [113]:
dir()

['In',
 'Out',
 '_',
 '_10',
 '_100',
 '_101',
 '_102',
 '_103',
 '_107',
 '_11',
 '_110',
 '_111',
 '_12',
 '_13',
 '_14',
 '_15',
 '_17',
 '_18',
 '_20',
 '_21',
 '_23',
 '_25',
 '_26',
 '_27',
 '_28',
 '_29',
 '_3',
 '_30',
 '_31',
 '_32',
 '_33',
 '_34',
 '_35',
 '_36',
 '_37',
 '_38',
 '_39',
 '_4',
 '_40',
 '_41',
 '_42',
 '_43',
 '_5',
 '_52',
 '_53',
 '_54',
 '_56',
 '_57',
 '_58',
 '_6',
 '_69',
 '_7',
 '_74',
 '_75',
 '_77',
 '_78',
 '_8',
 '_80',
 '_81',
 '_83',
 '_84',
 '_85',
 '_86',
 '_87',
 '_9',
 '_97',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_exit_code',
 '_i',
 '_i1',
 '_i10',
 '_i100',
 '_i101',
 '_i102',
 '_i103',
 '_i104',
 '_i105',
 '_i106',
 '_i107',
 '_i108',
 '_i109',
 '_i11',
 '_i110',
 '_i111',
 '_i112',
 '_i113',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i57',
 '_i58',
 '_i59',
 '_i6',
 '_i60',
 '_i61',
 '_i62',
 '_i63',
 '_i64',
 '_i65',
 '_i66',
 '_i67',
 '_i68',
 '_i69',
 '_i7',
 '_i70',
 '_i71',
 '_i72',
 '_i73',
 '_i74',
 '_i75',
 '_i76',
 '_i77',
 '_i78',
 '_i79',
 '_i8',
 '_i80',
 '_i81',
 '_i82',
 '_i83',
 '_i84',
 '_i85',
 '_i86',
 '_i87',
 '_i88',
 '_i89',
 '_i9',
 '_i90',
 '_i91',
 '_i92',
 '_i93',
 '_i94',
 '_i95',
 '_i96',
 '_i97',
 '_i98',
 '_i99',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'a1',
 'a2',
 'a3',
 'aaa',
 'adder',
 'b',
 'c',
 'c1',
 'c2',
 'c3',
 'd',
 'e',
 'exit',
 'f1',
 'f2',
 'func',
 'g',
 'get_ipython',
 'h',
 'h1',
 'i',
 'intro',
 'j',
 'k',
 'l',
 'my_function',
 'my_lambda_function',
 'name',
 'not_null_variable',
 'null_variable',
 'printPetNames',
 'printScores',
 'quit',
 'v73']

Note: **Be careful with your variable names!** Python allows you to use the built-in function names for your variables, which can mess things up:

In [114]:
print = False
print

False

In [115]:
print(10)

TypeError: 'bool' object is not callable

In [116]:
del print
print(10)

10

### and so on...

### Composite types

We'll start with lists - they represent arrays of objects:

In [117]:
array1 = [ 1, 2, -3, 'hello', 4e5, 8j, False ]
print( array1 )
print( type( array1 ) )

[1, 2, -3, 'hello', 400000.0, 8j, False]
<class 'list'>

In [118]:
array11 = array1 + array1
print( array11 )

[1, 2, -3, 'hello', 400000.0, 8j, False, 1, 2, -3, 'hello', 400000.0, 8j, False]

In [119]:
array1.append( 'world' )
array1

[1, 2, -3, 'hello', 400000.0, 8j, False, 'world']

In [120]:
array2 = [ [ True, False ], [ 'Hello' ], 42 ]
array2

[[True, False], ['Hello'], 42]

In [121]:
array2.append( array2 )
array2

[[True, False], ['Hello'], 42, [...]]

Here's how you can index lists (indexing starts with 0):

In [122]:
array1 = [ 1, 2, -3, 'hello', 4e5, 8j, False ]
print( array1[ 0 ] )
print( array1[ -1 ] )
print( array1[ -2 ])
print( array1[ -4 ] )

1
False
8j
hello

In [123]:
array1 = [ 1, 2, -3, 'hello', 4e5, 8j, False ]
print( array1[ :6:2 ] ) # most general form - every 2nd element from 1 to 6
print( array1[ 2::3 ] ) # elements from 2 to the end with step 3
print( array1[ ::2 ] ) # every 2nd element starting from 0
print( array1[ ::-1 ] ) # all list in reverse order
print( array1[ 2:5 ] ) # elements from 2 to 5 (not including 5)
print( array1[ -2: ] ) # last two elements of the list

[1, -3, 400000.0]
[-3, 8j]
[1, -3, 400000.0, False]
[False, 8j, 400000.0, 'hello', -3, 2, 1]
[-3, 'hello', 400000.0]
[8j, False]

A very similar type is called "tuple". Similarly to lists, tuples are arrays of objects. The major difference is that they are **immutable**.

In [124]:
array2 = [ [ True, False ], [ 'Hello' ], 42 ]
tuple1 = ( 1, 2, 'foo' )
tuple2 = tuple( array2 ) # You can initialize tuples with lists and vice versa
print( tuple1 )
print( tuple2 )

(1, 2, 'foo')
([True, False], ['Hello'], 42)

Note that inner lists from `array2` are stored as lists within the `tuple2`, so they are mutable:

In [125]:
tuple2[ 0 ].append( 8 )
print( tuple2 )

([True, False, 8], ['Hello'], 42)

Also note, that the first item in `array2` has changed as well:

In [126]:
array2

[[True, False, 8], ['Hello'], 42]

This illustrates a very important feature of python: all objects are stored by reference. Since `tuple2` was initialized from `array2`, they both reference the same object instances.

You can check whether two variables are referencing the same object with `is` operator:

In [127]:
print( array2[ -1 ] )
print( array2[ -1 ] is array2 )
print( tuple2[ 0 ] is array2[ 0 ] )

42
False
True

Two empty tuples created with `tuple()` expression will reference the same object:

In [128]:
tuple() is tuple()

True

while two empty lists won't, since lists are mutable (and the two empty list instances may be changed in a different way):

In [129]:
list() is list()

False

Another important type is dictionary. Dictionaries are key->value mappings with a restriction that keys can only be immutable objects.

Several ways to create and fill a dictionary:

In [130]:
dict1 = { "foo" : 'bar', -3 : False }
dict2 = dict( foo = 'bar', hello = 'world' )

print( dict1 )
print( dict2 )

{'foo': 'bar', -3: False}
{'foo': 'bar', 'hello': 'world'}

Accessing elements:

In [131]:
print( dict1[ -3 ] )
print( dict2[ 'foo' ] )

dict2[ 'new_key' ] = 'new_value'
print( dict2 )

False
bar
{'foo': 'bar', 'hello': 'world', 'new_key': 'new_value'}

### and so on...

### Loops, conditionals, functions

A loop over elements of a list:

In [132]:
objects = [ 1, 2, 'hello', False ]

for obj in objects:
    print( obj )

1
2
hello
False

In [133]:
for i in range( 5 ):
    print( i )

0
1
2
3
4

Note that `range` has more arguments. Place the cursor right after the opening bracket and hit **TAB** to see help:

In [134]:
for i in range( 20, 63, 3 ):
#for i in range
    print( i )

20
23
26
29
32
35
38
41
44
47
50
53
56
59
62

In [135]:
for i in range( 100 ):
    if i % 7 == 1 and i % 5 == 3:
        print( "i % 7 == 1 and i % 5 == 3:", i )
    if not (i > 3) or i > 98:
        print( "not (i > 3) or i > 98:", i )

not (i > 3) or i > 98: 0
not (i > 3) or i > 98: 1
not (i > 3) or i > 98: 2
not (i > 3) or i > 98: 3
i % 7 == 1 and i % 5 == 3: 8
i % 7 == 1 and i % 5 == 3: 43
i % 7 == 1 and i % 5 == 3: 78
not (i > 3) or i > 98: 99

In [136]:
list1 = [ 3, 15, 27, 42 ]
list2 = []

for i in range( 30 ):
    if i in list1:
        list2.append( i**2 )

print( list2 )

[9, 225, 729]

In [137]:
def some_function( argument1, argument2 ):
    print( argument1 + argument2 )

some_function( 3, 8 )
some_function( [ 'foo' ], [ 'bar' ] )

11
['foo', 'bar']

Arguments with default values:

In [138]:
def some_function( argument1, argument2 = 42 ):
    print( "{} ----- {}".format( argument1, argument2 ) )

some_function( 18 )
some_function( 18, 19 )
some_function( argument2 = 19, argument1 = 18 )

some_function( some_function )

18 ----- 42
18 ----- 19
18 ----- 19
<function some_function at 0x7f7ffdff2700> ----- 42

In [139]:
def square( x ):
    return x**2

for i in range( 4 ):
    print( square( i ) )

0
1
4
9

In [140]:
from math import factorial

for i in range( 1, 10 ):
    print( factorial( i ) )

1
2
6
24
120
720
5040
40320
362880

In [141]:
list_of_words = [ 'one', 'two', 'list', '', 'dict' ]

map( str.upper, list_of_words )

In [142]:
list( map( str.upper, list_of_words ) )

['ONE', 'TWO', 'LIST', '', 'DICT']

In [143]:
In [3]: list_of_str = [ '1', '2', '5', '10' ]

In [144]:
list( map( int, list_of_str ) )

[1, 2, 5, 10]

In [145]:
a = [ 10, 20, 30, 40 ]
for i in enumerate( a ):
    print( i )

(0, 10)
(1, 20)
(2, 30)
(3, 40)

In [146]:
b = "hello"
for i in enumerate( b ):
    print( i )

(0, 'h')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')

In [147]:
c = { 1: 'a', 2: 'b', 3: 'c' }
for i in enumerate( c ):
    print( i )

(0, 1)
(1, 2)
(2, 3)

In [148]:
num_list = [ 1, 2, 3, 4, 5 ]
for i in num_list:
    print( i )

1
2
3
4
5

In [149]:
itr = iter( num_list )

In [150]:
print( next( itr ) )

1

In [151]:
print( next( itr ) )

2

In [152]:
print( next( itr ) )

3

In [153]:
print( next( itr ) )

4

In [154]:
print( next( itr ) )

5

In [155]:
print( next( itr ) )

StopIteration:

### and so on...

### Additional materials

In [156]:
string = 'hello world, ok?'

In [157]:
if len( string ) > 10:
    print( len( string ) )   # the len( string ) is calculated twice

16

In [158]:
if ( length := len( string ) ) > 10:
    print( length )

16

In [159]:
age = 26    
if age > 18:
    print( age )

26

In [160]:
if ( age := 26 ) > 18:
    print( age )

26

In [161]:
if ( age = 26 ) > 18:
    print( age )

SyntaxError: invalid syntax (<ipython-input-161-e9f0dd4e9572>, line 1)

In [162]:
import random

print( random.random() )

0.5566449002851134

In [163]:
random.random()

0.1699548622143665

In [164]:
from random import randint

randint( 0, 9 )

8

In [165]:
from random import randrange

randrange( 0, 10, 2 )

0

In [166]:
city_list = [ 'New York', 'Los Angeles', 'Chicago', 'Houston', 'Philadelphia' ]
random.choice( city_list )

'Philadelphia'

In [167]:
randint( -10, 0 )

-9

In [168]:
randint( 0, 0 )

0

In [169]:
from random import gauss
gauss( 0, 2 )

-2.1678338215589905

In [170]:
random.seed( 1 )
randint( -10, 0 )

-8

In [171]:
#random.seed( 1 )
randint( -10, 0 )

-1

In [172]:
list = [ 2, 5, 8, 9, 12 ]
random.sample( list, 3 )

[2, 8, 12]

In [173]:
list = [ 2, 5, 8, 9, 12 ]
random.sample( list, 5 )

[9, 12, 5, 8, 2]

In [174]:
list = [ 2, 5, 8, 9, 12 ]
 
random.shuffle( list )

list

[8, 5, 12, 9, 2]

In [175]:
random.uniform( 10.5, 25.5 )

16.9915060185758

In [176]:
random.uniform( 0, 1 )

0.762280082457942

In [177]:
import random
import secrets
 
number = random.SystemRandom().random()
print( "number = ", number )

number =  0.5011536297635034

In [178]:
print( "token_bytes = ", secrets.token_bytes( 16 ) )

token_bytes =  b'\x10n\xe7\xf2\xdb\xe9\xf3\x9e\xb3\x18\x18\xc9\xb0\x93I\xa4'

In [179]:
print( "token_bytes = ", secrets.token_bytes( 43 ) )

token_bytes =  b'K\xaf\xe4\xb6\xdf\x96\xf9\xaa\xd9\x1b\xec\x92\xd0\xdd\xbdQ\xd5\xae\xd5\xec\x042\xc6\x99\xed\xff\x91\xaf}fb\x1b\xfd\x02\xda\xe5\xb7\x8d\xa1\xc9k\xb8\x9a'

In [180]:
print( "token_bytes = ", secrets.token_bytes() )

token_bytes =  b'\x8f\x08\xa9o\xe0:\xd1\x8b\xd4\xf79.<\x04\x92`#g*\x11\x8f\xd1g\xc5K\xae\xba\x88O\x95J\xb7'

In [181]:
random.getrandbits( 16 )

138

In [182]:
random.seed( 1 )
random.getrandbits( 16 )

8805

### and so on...

# Here you can see a lot of tasks and solutions for your Python practise:

#### [Python practise](https://www.w3resource.com/python-exercises/)

Link: https://www.w3resource.com/python-exercises/

# The notebook is based on https://github.com/HSE-LAMBDA/MLatMIPS-2020 (Mosphys 2020, https://mosphys.ru)