<center>
<img src="https://cdn.images.express.co.uk/img/dynamic/36/590x/secondary/Jack-Nicholson-in-The-Shining-2043016.jpg" alt="Jack-Nicholson-in-The-Shining">
</center>

In [1]:
# If the picture does not work for you (there is no Internet connection), 
# you can uncomment these two lines below and then run the cell. The picture should appear.
# These two:

#from IPython.display import Image
#Image("Jack-Nicholson-in-The-Shining-2043016.jpg")

# <center> <h1> Here's Python! </h1> </center>

# Why learn Python?

https://www.codingdojo.com/blog/why-you-should-learn-python

https://medium.com/datadriveninvestor/5-reasons-why-i-learned-python-and-why-you-should-learn-it-as-well-917f781aea05

https://dbader.org/blog/why-learn-python

https://hackernoon.com/10-reasons-to-learn-python-in-2018-f473dc35e2ee

https://www.edureka.co/blog/10-reasons-why-you-should-learn-python

https://www.geeksforgeeks.org/12-reasons-why-you-should-learn-python/

https://codingnomads.co/blog/business/why-learn-python/

### Your Python version

In [2]:
!python --version

Python 3.8.5

#### [Python programming language](https://www.python.org)
 
#### Here you can see an additional information about Python (3.8): https://docs.python.org/3.8/tutorial/

Some other links:

Russian: https://github.com/MelLain/mipt-python

https://stanfordpython.com/#overview

https://github.com/jrjohansson/scientific-python-lectures

https://nbviewer.jupyter.org/gist/rpmuller/5920182

https://www.w3schools.com/python/python_intro.asp

https://developers.google.com/edu/python/introduction

https://beginnersbook.com/2018/01/introduction-to-python-programming/

https://en.wikipedia.org/wiki/Python_(programming_language)

# You can see links to Python practice at the end of the document

### The symbol '!' and other magic things in Jupyter are shown here:

https://blog.dominodatalab.com/lesser-known-ways-of-using-notebooks/

https://towardsdatascience.com/optimizing-jupyter-notebook-tips-tricks-and-nbextensions-26d75d502663

https://towardsdatascience.com/15-tips-and-tricks-to-use-jupyter-notebook-more-efficiently-ef05ede4e4b9

https://www.dataquest.io/blog/jupyter-notebook-tips-tricks-shortcuts/

https://ipython.readthedocs.io/en/stable/interactive/magics.html

https://jakevdp.github.io/PythonDataScienceHandbook/01.05-ipython-and-shell-commands.html

https://medium.com/swlh/some-neat-jupyter-tricks-be0775c3f17

https://www.datacamp.com/community/tutorials/markdown-in-jupyter-notebook?utm_source=adwords_ppc&utm_campaignid=1455363063&utm_adgroupid=65083631748&utm_device=c&utm_keyword=&utm_matchtype=b&utm_network=g&utm_adpostion=&utm_creative=332602034361&utm_targetid=dsa-429603003980&utm_loc_interest_ms=&utm_loc_physical_ms=9047023&gclid=EAIaIQobChMI5JuB-9yf6wIVRxV7Ch3oCwftEAAYASAAEgJp9vD_BwE

Russian: https://nuancesprog.ru/p/5616/

## Using python as a calculator

https://www.programiz.com/python-programming/operators

In [3]:
1 + 1

2

In [4]:
# Multiply two operands.

5 * 5

25

In [5]:
10 * (15 - 5)

100

In [6]:
# Exponent - left operand raised to the power of right.
# x**y (x to the power y).

2 ** 4 # (x ** y)

16

In [7]:
# Divide left operand by the right one (always results into float).

10 / 2

5.0

In [8]:
# Floor division - division that results into whole number adjusted to the left in the number line.

10 // 2

5

In [9]:
10 / 3

3.3333333333333335

In [10]:
10 // 3

3

In [11]:
10 / 9

1.1111111111111112

In [12]:
# Modulus - remainder of the division of left operand by the right.
# x % y (remainder of x/y).

10 % 9

1

## Variables (int, bool, float, complex)

### What is the difference between statically typed and dynamically typed languages?

https://stackoverflow.com/questions/1517582/what-is-the-difference-between-statically-typed-and-dynamically-typed-languages

https://www.geeksforgeeks.org/why-python-is-called-dynamically-typed/

https://realpython.com/lessons/dynamic-vs-static/

In [13]:
# You don't need to specify the type of a variable in Python.

a = 1
b = 5

In [14]:
# Output of results

print(a, ' and ', b)

1  and  5

In [15]:
# type() method returns class type of the argument(object) passed as parameter. 
# type() function is mostly used for debugging purposes.

type(a)

int

In [16]:
# Type float(x) to convert x to a floating-point number.

a = float(a)

In [17]:
# Output of 'a'

a

1.0

In [18]:
type(a)

float

In [19]:
# In programming you often need to know if an expression is True or False.
# You can evaluate any expression in Python, and get one of two answers, True or False.
# When you compare two values, the expression is evaluated and Python returns the Boolean answer:

t = True
t

True

In [20]:
f = False
f

False

In [21]:
type(t)

bool

In [22]:
type(f)

bool

In [23]:
# Floating-point number.

c = 4.5
c

4.5

In [24]:
# You can write .5 instead of 0.5, it will be the same number.

c = .5
c

0.5

In [25]:
d = 0.5
d

0.5

In [26]:
a

1.0

In [27]:
c = 6.7

In [28]:
type(c)

float

In [29]:
c = int(c)

In [30]:
c

6

In [31]:
type(c)

int

In [32]:
d = 8.
e = 1.2e3
print(d, e)

8.0 1200.0

In [33]:
a = 1
b = 2
c = a / b

print(a, b, c)

# Anything after a '#' is a comment.
# Note that `c` has different type (float) compared to `a` and `b` (which are of integer type).

1 2 0.5

In [34]:
type(a)

int

In [35]:
type(c)

float

In [36]:
a = 123
type(a)

int

In [37]:
print(type(a))

# Do you understand the output of the function?
# If you don't know object-oriented programming yet, you will find out more about it later (below section).

<class 'int'>

In [38]:
# Multiple assignments in Python
a, b, c = 1, 2, 5

# https://note.nkmk.me/en/python-multi-variables-values/
# https://treyhunner.com/2018/03/tuple-unpacking-improves-python-code-readability/

In [39]:
a

1

In [40]:
b

2

In [41]:
c

5

In [42]:
a = b = c = 99

In [43]:
a

99

In [44]:
b

99

In [45]:
c

99

In [46]:
a, b = 2, 3
a, b = b, a

In [47]:
a

3

In [48]:
b

2

In [49]:
# You can assign a variable to output a function.
# See below about fuctions.

v73 = type(73)
type(73)

int

In [50]:
v73

int

In [51]:
aaa = type(4.5)
aaa

# Is it a correct variable name?

# Choosing names which are sensible and can be easily understandable, while coding in Python, is very crucial. 
# This will save time and energy of a reader. 
# Inappropriate names might lead to difficulties when debugging.

float

### PEP 8 -- Style Guide for Python Code

https://www.python.org/dev/peps/pep-0008/

https://realpython.com/python-pep8/

https://www.datacamp.com/community/tutorials/pep8-tutorial-python-code?utm_source=adwords_ppc&utm_campaignid=1455363063&utm_adgroupid=65083631748&utm_device=c&utm_keyword=&utm_matchtype=b&utm_network=g&utm_adpostion=&utm_creative=332602034361&utm_targetid=aud-392016246653:dsa-429603003980&utm_loc_interest_ms=&utm_loc_physical_ms=9047023&gclid=EAIaIQobChMIz56Rx42f6wIVEwCiAx3FZAwsEAAYASAAEgLCUfD_BwE

https://www.knowledgehut.com/blog/programming/python-pep8

Check your Python code: http://pep8online.com

Russian: https://pep8.ru/doc/pep8/

Russian: https://pythonworld.ru/osnovy/pep-8-rukovodstvo-po-napisaniyu-koda-na-python.html

Russian: https://geekbrains.ru/posts/pep8

In [52]:
# Complex number.

a = 1 + 5j
a

(1+5j)

In [53]:
type(a)

complex

In [54]:
print(type(a))

<class 'complex'>

In [55]:
# Conjugate number.

a.conjugate()

(1-5j)

### Problem â„–0 (all answers are at the end of the notebook):

Can you find the real and imaginary parts of a complex number (for example, a = 3 + 7j) using **Tab**?

So, you have a = 3 + 7j. Then you need to use **Tab**. 

Could you find it?

In [56]:
c1 = 2 + 1j
c2 = 1 / 1j
c3 = 1j

print(c1)
print(c2)
print(c3)

(2+1j)
-1j
1j

In [57]:
c1 = 2 + 1*j

#Is it the correct syntax?

NameError: name 'j' is not defined

In [58]:
c1 = 2 + 0j
c1

(2+0j)

In [59]:
type(c1)

complex

In [60]:
c4 = 1 + 2i
print(c4)

#Is it the correct syntax? 'j' or 'i'? Or something else?

SyntaxError: invalid syntax (<ipython-input-60-a4e1edc93936>, line 1)

In [61]:
a, b = 3, 3 + 4j

In [62]:
a

3

In [63]:
b

(3+4j)

In [64]:
a, b = b, a

In [65]:
a

(3+4j)

In [66]:
b

3

In [67]:
a = 5

In [68]:
a = complex(a)

In [69]:
a

(5+0j)

In [70]:
b = int(a)
b

TypeError: can't convert complex to int

## Operations with numeric variables

In [71]:
a = 1
b = 2

print(a == b) # Equal to - True if both operands are equal
print(a + 1 > b) # Greater than - True if left operand is greater than the right
print(a + 1 >= b) # Greater than or equal to - True if left operand is greater than or equal to the right
print(type(a + 1 > b))

False
False
True
<class 'bool'>

In [72]:
j = True
k = False
l = j == k # Do you understand this? What is 'l' here?

print( j, k, l )

True False False

In [73]:
# booleans
j = True
k = False
l = j != k # Not equal to - True if operands are not equal. And the same question about 'l'.

print( j, k, l )

True False True

In [74]:
# booleans
j = False
k = False
l = j == k

print( j, k, l )

False False True

In [75]:
a = -3
a

-3

In [76]:
a = a * (-1)
a

3

In [77]:
a = 45
a2 = a
a2

45

In [78]:
a2 + 4

49

In [79]:
a2 = a2 + 4
a2

49

In [80]:
a2 = a
a2

45

In [81]:
# There are various compound operators in Python like a += 5 that adds to the variable and later assigns the same. 
# It is equivalent to a = a + 5.

In [82]:
a2 += 4 # a2 = a2 + 4
a2

49

In [83]:
a3 = a + 3
a3

48

In [84]:
a3 *= 3
a3
# and the same for '-=' and '/=' and '%=' and '//=' and '**='

144

In [85]:
1 & 1 # Bitwise AND

1

In [86]:
1 & 0

0

In [87]:
0 & 0

0

In [88]:
1 | 1 # Bitwise OR

1

In [89]:
1 | 0

1

In [90]:
0 | 0

0

In [91]:
1 ^ 0 # Bitwise XOR

1

In [92]:
1 ^ 1

0

In [93]:
0 ^ 1

1

In [94]:
0 ^ 0

0

In [95]:
# The 'not' keyword is a logical operator.
# The return value will be True if the statement(s) are not True, otherwise it will return False.

not 1

False

In [96]:
not 0

True

## NoneType variables (NoneType)

https://www.w3schools.com/python/ref_keyword_none.asp

In [97]:
type(print)

builtin_function_or_method

In [98]:
a = print(1)

1

In [99]:
a

In [100]:
type(a)

NoneType

In [101]:
# The None keyword is used to define a null value, or no value at all.

In [102]:
type(print(1))

1

NoneType

In [103]:
type(1)

int

In [104]:
type(type(1))

type

In [105]:
a = None

In [106]:
a

In [107]:
print(a)

None

In [108]:
type(a)

NoneType

## String variables (str)

https://www.programiz.com/python-programming/string

https://www.w3schools.com/python/python_strings.asp

Russian: https://pythonz.net/references/named/str/

In [109]:
#Like many other popular programming languages, strings in Python are arrays of bytes representing 
# unicode characters.
#However, Python does not have a character data type, a single character is simply a string with a length of 1.
#Square brackets can be used to access elements of the string.

In [110]:
a = 'Hello world'
a

'Hello world'

In [111]:
type(a)

str

In [112]:
a = "Hello, World!"
print(a[1])

e

In [113]:
a = "Hello world"
a

'Hello world'

In [114]:
type(a)

str

In [115]:
'Hello world'

'Hello world'

In [116]:
a = 545
type(a)

int

In [117]:
a = str(a)
a

'545'

In [118]:
type(a)

str

In [119]:
f1 = 'Hello!'
f2 = "Hi"

g = """Hi there!
I'm a multiline string!"""

h = 'foo'     'bar'
h1 = 'foo',     'bar'

i = ' """"""""""" '

print(f1, f2)
print(g)
print(h)
print(h1)
print(i)

Hello! Hi
Hi there!
I'm a multiline string!
foobar
('foo', 'bar')
 """""""""""

## Operations with string variables and string formatting

In [120]:
"Hello" + " " + "world"

'Hello world'

In [121]:
'Hello' + ' world' + ", ok?"

'Hello world, ok?'

In [122]:
"\" Text:) \""

'" Text:) "'

In [123]:
'\" Text:) \"'

'" Text:) "'

In [124]:
"\' Text:) \'"

"' Text:) '"

In [125]:
'\' Text:) \''

"' Text:) '"

Format String Syntax:

https://pyformat.info
    
https://www.learnpython.org/en/String_Formatting
    
https://www.w3schools.com/python/ref_string_format.asp

In [126]:
a = 1
b = 2
print("Hello " + "world!")
print("%i + %i = %i" % (a, b, a + b))
print("%f + %f = %f" % (a, b, a + b))
print("{} + {} = {}".format(a, b, a + b))
print("{var_a} + {var_b} = {result}".format(result = a + b, var_a = a, var_b = b))
print("1 + 2 = %.6f" % (1 + 2 ))
print("1 + 2 = {}".format(1 + 2))
print("1 + 2 = {:.4f}".format(1 + 2))

Hello world!
1 + 2 = 3
1.000000 + 2.000000 = 3.000000
1 + 2 = 3
1 + 2 = 3
1 + 2 = 3.000000
1 + 2 = 3
1 + 2 = 3.0000

In [127]:
# Do you know how to write **10.45** as **10.45000** using the information from the previous cell?

In [128]:
'Hello, {}!'.format('world')

'Hello, world!'

In [129]:
name = "Fred"
f"He said his name is {name}."

'He said his name is Fred.'

https://realpython.com/python-f-strings/

## Other variables (list, tuple, dict, set)

### List
We'll start with lists - they represent arrays of objects:

https://www.w3schools.com/python/python_lists.asp

https://www.programiz.com/python-programming/list

https://developers.google.com/edu/python/lists

In [130]:
# List is a collection which is ordered and changeable. Allows duplicate members.

# Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

# Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.

# Set is a collection which is unordered and unindexed. No duplicate members.

In [131]:
array1 = [1, 2, -3, 'hello', 4e5, 8j, False]
print(array1)
print(type(array1))

[1, 2, -3, 'hello', 400000.0, 8j, False]
<class 'list'>

In [132]:
array11 = array1 + array1
print(array11)

[1, 2, -3, 'hello', 400000.0, 8j, False, 1, 2, -3, 'hello', 400000.0, 8j, False]

In [133]:
# list.append(elem) -- adds a single element to the end of the list. 
# Common error: does not return the new list, just modifies the original.

array1.append('world')
array1

[1, 2, -3, 'hello', 400000.0, 8j, False, 'world']

In [134]:
array2 = [[True, False], ['Hello'], 42]
array2

[[True, False], ['Hello'], 42]

In [135]:
array2.append(array2)
array2

[[True, False], ['Hello'], 42, [...]]

Here's how you can index lists (indexing starts with 0):

In [136]:
array1 = [1, 2, -3, 'hello', 4e5, 8j, False]
print(array1[0])
print(array1[-1])
print(array1[-2])
print(array1[-4])

1
False
8j
hello

In [137]:
array1 = [1, 2, -3, 'hello', 4e5, 8j, False]
print(array1[:6:2]) # most general form - every 2nd element from 1 to 6
print(array1[2::3]) # elements from 2 to the end with step 3
print(array1[::2]) # every 2nd element starting from 0
print(array1[::-1]) # all list in reverse order
print(array1[2:5]) # elements from 2 to 5 (not including 5)
print(array1[-2:]) # last two elements of the list

[1, -3, 400000.0]
[-3, 8j]
[1, -3, 400000.0, False]
[False, 8j, 400000.0, 'hello', -3, 2, 1]
[-3, 'hello', 400000.0]
[8j, False]

In [138]:
# See below about 'for' in Python.

a = [1, 2, 3, 'Hello']

for i in a:
    print(i, type(i))

print(type(a))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
Hello <class 'str'>
<class 'list'>

About **range** function you can read here: https://www.geeksforgeeks.org/python-range-function/

In [139]:
a = []
for i in range(5):
    a.append(i)
print(a)

[0, 1, 2, 3, 4]

In [140]:
# list.insert(index, elem) -- inserts the element at the given index, shifting elements to the right.

a = []
for i in range(1, 20, 3):
    print(i)
    a.insert(0, i)
print("\n")
print(a)

1
4
7
10
13
16
19


[19, 16, 13, 10, 7, 4, 1]

In [141]:
a = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
for i in range(10):
    print(a[i])

1
1
1
1
1
1
1
1
1
1

In [142]:
a = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
for i in range(10):
    print(a)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [143]:
a = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
b = [1, 1, 1, 1, 1]
c = [1, 1, 1, 1, 1]
for i in range(1, 10, 3):
    print(i)
    a.insert(0, 'c')
    b.insert(i, 'w')
    c.insert(i + 1, 'w')
print()
print(a)
print("\n")
print(b)
print("")
print(c)

1
4
7

['c', 'c', 'c', 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]


[1, 'w', 1, 1, 'w', 1, 1, 'w']

[1, 1, 'w', 1, 1, 'w', 1, 'w']

In [144]:
# list.extend(list2) adds the elements in list2 to the end of the list.
# Using + or += on a list is similar to using extend().

a = [1, 1, 1]
b = [5, 5, 5]
a.extend(b)
a

[1, 1, 1, 5, 5, 5]

In [145]:
# list.remove(elem) -- searches for the first instance of the given element and 
# removes it (throws ValueError if not present)

a = [1, 1, 1]
a.remove(1)
a

[1, 1]

In [146]:
a = [4, 1, 1]
a.remove(4)
a

[1, 1]

In [147]:
a = [4, 1, 1]
a.remove(7)
a

ValueError: list.remove(x): x not in list

In [148]:
# Do you understand the previuos error?

In [149]:
# The count() method returns the number of times the specified element appears in the list.

a = [4, 1, 1, 5, 8, 10, 4, -4]
a.count(-4)

1

In [150]:
# list.reverse() -- reverses the list in place (does not return it).

a = [4, 1, 1, 5, 8, 10, 4, -4, 't', 'r']
a.reverse()
a

['r', 't', -4, 4, 10, 8, 5, 1, 1, 4]

In [151]:
a = [4, 1, 1, 5, 8, 10, 4, -4, 't', 'r']
a[::-1] # reverse()

['r', 't', -4, 4, 10, 8, 5, 1, 1, 4]

In [152]:
# The clear() method removes all items from the list.

a = [4, 1, 1, 5, 8, 10, 4, -4, 't', 'r']
a.clear()
a

[]

In [153]:
# list.sort() -- sorts the list in place (does not return it).
# The sorted() function shown later is preferred.

a = [4, 1, 1, 5, 8, 10, 4, -4]
a.sort()
a

[-4, 1, 1, 4, 4, 5, 8, 10]

In [154]:
a = [4, 1, 1, 5, 8, 10, 4, -4, 't', 'r']
a.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [155]:
# Do you understand the previuos error?

In [156]:
a, b = [1, 2]

In [157]:
a

1

In [158]:
type(a)

int

In [159]:
# Join two lists together:

a = [10, 20, 30, 40]
b = ['a', 'b', 'c', 'd', 'e']
for i, j in zip(a, b):
    print(i, j)

10 a
20 b
30 c
40 d

https://www.programiz.com/python-programming/methods/built-in/zip

https://realpython.com/python-zip-function/

Important link about built-in functions in Python: https://docs.python.org/3.3/library/functions.html

**The Python interpreter has a number of functions and types built into it that are always available.**

In [160]:
import itertools # See below about 'import'

a = [10, 20, 30, 40]
b = ['a', 'b', 'c', 'd', 'e']
c = [1.1, 1.2]
for i in itertools.zip_longest(a, b, c):
    print(i)

(10, 'a', 1.1)
(20, 'b', 1.2)
(30, 'c', None)
(40, 'd', None)
(None, 'e', None)

https://www.geeksforgeeks.org/python-itertools-zip_longest/
    
https://docs.python.org/3.0/library/itertools.html
    
Russian: https://python-scripts.com/itertools

In [161]:
s = 'abc'
t = (10, 20, 30, 40)
a = list(zip(s,t))
a

[('a', 10), ('b', 20), ('c', 30)]

In [162]:
type(a)

list

### Problem â„–1 (all answers are at the end of the notebook):

Write a Python program to clone or copy a list.

You have original_list = [50, 4, 52, 't', 34, '9z4'].

### Problem â„–2 (all answers are at the end of the notebook):

Write a Python program to convert a list of characters into a string.

You have list1 = ['h', 'e', 'l', 'l', 'o', ',', ' ', 'w', 'o', 'r', 'l', 'd', '!']

### Tuple

A very similar type is called "tuple". Similarly to lists, tuples are arrays of objects. The major difference is that they are **immutable**.

https://www.w3schools.com/python/python_tuples.asp

https://www.programiz.com/python-programming/methods/tuple

https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences

In [163]:
array2 = [[True, False], ['Hello'], 42]
tuple1 = (1, 2, 'foo')
tuple2 = tuple(array2) # You can initialize tuples with lists and vice versa
print(tuple1)
print(tuple2)

(1, 2, 'foo')
([True, False], ['Hello'], 42)

Note that inner lists from `array2` are stored as lists within the `tuple2`, so they are mutable:

In [164]:
# https://www.tutorialspoint.com/How-to-append-elements-in-Python-tuple

tuple2[0].append(8)
print(tuple2)

([True, False, 8], ['Hello'], 42)

Also note, that the first item in `array2` has changed as well:

In [165]:
array2

[[True, False, 8], ['Hello'], 42]

This illustrates a very important feature of python: all objects are stored by reference. Since `tuple2` was initialized from `array2`, they both reference the same object instances.

You can check whether two variables are referencing the same object with `is` operator:

In [166]:
print(array2[-1])
print(array2[-1] is array2)
print(tuple2[0] is array2[0])

42
False
True

Two empty tuples created with `tuple()` expression will reference the same object:

In [167]:
tuple() is tuple()

True

while two empty lists won't, since lists are mutable (and the two empty list instances may be changed in a different way):

In [168]:
list() is list()

False

### Dict

Another important type is **dictionary**. Dictionaries are key->value mappings with a restriction that keys can only be immutable objects.

https://realpython.com/python-dicts/

https://www.w3schools.com/python/python_dictionaries.asp

https://www.programiz.com/python-programming/dictionary

Several ways to create and fill a dictionary:

In [169]:
dict1 = {"foo": 'bar', -3: False}
dict2 = dict(foo = 'bar', hello = 'world')

print(dict1)
print(dict2)

{'foo': 'bar', -3: False}
{'foo': 'bar', 'hello': 'world'}

Accessing elements:

In [170]:
print(dict1[-3])
print(dict2['foo'])

dict2['new_key'] = 'new_value'
print(dict2)

False
bar
{'foo': 'bar', 'hello': 'world', 'new_key': 'new_value'}

In [171]:
d = {'key': 'value'}
print(d)

d['mynewkey'] = 'mynewvalue'
print(d)

{'key': 'value'}
{'key': 'value', 'mynewkey': 'mynewvalue'}

In [172]:
x = {1: 2}
print(x)

{1: 2}

In [173]:
# https://www.tutorialspoint.com/python/dictionary_update.htm

d = {3: 4, 5: 6, 7: 8}
x.update(d)
print(x)

{1: 2, 3: 4, 5: 6, 7: 8}

In [174]:
names = ['Tom', 'Dick', 'Harry']
ages = [50, 35, 60]

a = dict(zip(names, ages))
a

{'Tom': 50, 'Dick': 35, 'Harry': 60}

In [175]:
type(a)

dict

### Set and frozenset

https://www.programiz.com/python-programming/set

https://www.w3schools.com/python/python_ref_set.asp

https://www.programiz.com/python-programming/methods/built-in/frozenset

https://docs.python.org/2.4/lib/types-set.html

Russian: https://pythonworld.ru/tipy-dannyx-v-python/mnozhestva-set-i-frozenset.html

In [176]:
a = {4, 5, 6}
a

{4, 5, 6}

In [177]:
type(a)

set

In [178]:
b = frozenset('qwerty')
b

frozenset({'e', 'q', 'r', 't', 'w', 'y'})

In [179]:
type(b)

frozenset

In [180]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

# Note: Sets are unordered, so you cannot be sure in which order the items will appear.
# Once a set is created, you cannot change its items, but you can add new items.
#To add one item to a set use the add() method.
#To add more than one item to a set use the update() method.

{'banana', 'apple', 'cherry'}

In [181]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange") # https://www.geeksforgeeks.org/set-add-python/

print(thisset)

{'banana', 'apple', 'orange', 'cherry'}

In [182]:
thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'grapes', 'orange', 'mango', 'cherry', 'banana', 'apple'}

https://www.w3schools.com/python/ref_func_len.asp

https://www.programiz.com/python-programming/methods/built-in/len

https://www.tutorialspoint.com/python/list_len.htm

In [183]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [184]:
#To remove an item in a set, use the remove(), or the discard() method.

thisset = {"apple", "banana", "cherry"}

thisset.remove("banana") # https://www.w3schools.com/python/ref_set_remove.asp

print(thisset)

{'apple', 'cherry'}

In [185]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana") # https://www.w3schools.com/python/ref_set_discard.asp

print(thisset)

{'apple', 'cherry'}

In [186]:
# Remove the last item by using the pop() method:

thisset = {"apple", "banana", "cherry"}

x = thisset.pop() # https://www.w3schools.com/python/ref_set_pop.asp

print(x)

print(thisset)

banana
{'apple', 'cherry'}

In [187]:
#The clear() method empties the set:

thisset = {"apple", "banana", "cherry"}

thisset.clear() # https://www.w3schools.com/python/ref_set_clear.asp

print(thisset)

set()

## Loops, conditionals and iterables

### Indentation in Python:

**A block is a combination of all these statements. Block can be regarded as the grouping of statements for a specific purpose. Most of the programming languages like C, C++, Java use braces { } to define a block of code. One of the distinctive features of Python is its use of indentation to highlight the blocks of code. Whitespace is used for indentation in Python. All statements with the same distance to the right belong to the same block of code. If a block has to be more deeply nested, it is simply indented further to the right.**

https://www.geeksforgeeks.org/statement-indentation-and-comment-in-python/

https://www.w3schools.com/python/gloss_python_indentation.asp

https://www.programiz.com/python-programming/statement-indentation-comments

https://www.w3schools.in/python-tutorial/concept-of-indentation-in-python/

Important links for the section:

https://www.w3schools.com/python/python_for_loops.asp
    
https://wiki.python.org/moin/ForLoop

https://www.geeksforgeeks.org/loops-in-python/

In [188]:
null_variable = None
not_null_variable = 'Hello There!'

if null_variable is None:
    print('null_variable is None')
else:
    print('null_variable is not None')

null_variable is None

**while** in Python:

https://realpython.com/python-while-loop/
    
https://www.w3schools.com/python/python_while_loops.asp

https://www.tutorialspoint.com/python/python_while_loop.htm

In [189]:
a = 0

while a < 10:
    a += 1
    print(a ** 2)

1
4
9
16
25
36
49
64
81
100

In [190]:
a = 0

while a < 10:
   a += 1
   print(a ** 2)

# Can you fix the line with 'a += 1'?

1
4
9
16
25
36
49
64
81
100

In [192]:
a = 0

while a < 10:
    a += 1
  print(a ** 2)

# Can you fix the line with 'print(a ** 2)'?

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 5)

**break**, **continue** and **pass** in Python:

https://medium.com/better-programming/how-to-use-pass-break-and-continue-in-python-6e0201fc032a

https://www.digitalocean.com/community/tutorials/how-to-use-break-continue-and-pass-statements-when-working-with-loops-in-python-3

https://www.tutorialspoint.com/python/python_loop_control.htm

In [193]:
a = 2
for i in range(10):
    print('i = ', i)
    if a < 7:
        print('a = ', a)
    else:
        print("end")
        break
    a += 1
    print("\n")

i =  0
a =  2


i =  1
a =  3


i =  2
a =  4


i =  3
a =  5


i =  4
a =  6


i =  5
end

In [194]:
i = 0
while i < 10:
    if i == 5:
        print("end.")
        break
    else:
        print(i)
        i += 1

0
1
2
3
4
end.

In [195]:
# Now without 'print("end.")'
# Do you understand the logic of 'break'?
# Where is out from 'print("end.")'?

i = 0
while i < 10:
    if i == 5:
        break
        print("end.")
    else:
        print(i)
        i += 1

0
1
2
3
4

In [196]:
for num in range(7):
    print('num = ', num)
    if num == 3:
        continue
    if num == 5:
        continue
    else:
        print(num)

num =  0
0
num =  1
1
num =  2
2
num =  3
num =  4
4
num =  5
num =  6
6

In [197]:
for num in range(7):
    print('num = ', num)
    if num == 3:
        print('some text')
        continue
    if num == 5:
        continue
    else:
        print(num)

num =  0
0
num =  1
1
num =  2
2
num =  3
some text
num =  4
4
num =  5
num =  6
6

In [198]:
# Do you understand the logic of 'continue'?
# Where is out from 'print('some text')'?

for num in range(7):
    print('num = ', num)
    if num == 3:
        continue
        print('some text')
    if num == 5:
        continue
    else:
        print(num)

num =  0
0
num =  1
1
num =  2
2
num =  3
num =  4
4
num =  5
num =  6
6

In [199]:
for num in range(7):
    if num < 3:
        pass
    else:
        print(num)

3
4
5
6

In [200]:
# Do you understand the logic of 'pass'?

for num in range(7):
    if num < 3:
        pass
        print('text')
    else:
        print(num)

text
text
text
3
4
5
6

A loop over elements of a list:

In [201]:
objects = [1, 2, 'hello', False]

for obj in objects:
    print(obj)

1
2
hello
False

In [202]:
for i in range(5):
    print(i)

0
1
2
3
4

Note that `range` has more arguments. Place the cursor right after the opening bracket and hit **TAB** to see help:

In [203]:
#for i in range(20, 63, 3):
for i in range()
    print(i)

SyntaxError: invalid syntax (<ipython-input-203-550b44f13f7c>, line 2)

In [204]:
for i in range(100):
    if i % 7 == 1 and i % 5 == 3:
        print("i % 7 == 1 and i % 5 == 3:", i)
    if not (i > 3) or i > 98:
        print("not (i > 3) or i > 98:", i)

not (i > 3) or i > 98: 0
not (i > 3) or i > 98: 1
not (i > 3) or i > 98: 2
not (i > 3) or i > 98: 3
i % 7 == 1 and i % 5 == 3: 8
i % 7 == 1 and i % 5 == 3: 43
i % 7 == 1 and i % 5 == 3: 78
not (i > 3) or i > 98: 99

In [205]:
list1 = [3, 15, 27, 42]
list2 = []

for i in range(30):
    if i in list1:
        list2.append(i ** 2)

print(list2)

[9, 225, 729]

**List comprehension**:

https://www.programiz.com/python-programming/list-comprehension

https://realpython.com/list-comprehension-python/

Russian: https://habr.com/ru/post/479252/ (See below about '**map**')

In [206]:
squares = []
squares

[]

In [207]:
# list comprehension

squares = [i * i for i in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [208]:
odds = [x for x in range(10)]
odds

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [209]:
odds = [x for x in range(10) if x % 2 != 0]
odds

[1, 3, 5, 7, 9]

In [210]:
[x ** 2 if x % 2 == 0 else x ** 3 for x in range(10)]

[0, 1, 4, 27, 16, 125, 36, 343, 64, 729]

In [211]:
a = [x ** 2 if x % 2 == 0 else x ** 3 for x in range(10)]
type(a)

list

In [212]:
# Dictionary of string and int
word_freq = {
    "Hello": 56,
    "at": 23,
    "test": 43,
    "this": 78
}

key = 'test'

# python check if key in dict using "in"
if key in word_freq:
    print(f"Yes, key: '{key}' exists in dictionary")
else:
    print(f"No, key: '{key}' does not exists in dictionary")

Yes, key: 'test' exists in dictionary

In [213]:
# Dictionary of string and int
word_freq = {
    "Hello": 56,
    "at": 23,
    "test": 43,
    "this": 78
}

key = 'notest'

# python check if key in dict using "in"
if key in word_freq:
    print(f"Yes, key: '{key}' exists in dictionary")
else:
    print(f"No, key: '{key}' does not exists in dictionary")

No, key: 'notest' does not exists in dictionary

This is **map**:
    
https://www.geeksforgeeks.org/python-map-function/

https://www.journaldev.com/22960/python-map-function

https://www.tutorialsteacher.com/python/python-map-function

In [214]:
list_of_words = ['one', 'two', 'list', '', 'dict']
list(map(str.upper, list_of_words))

['ONE', 'TWO', 'LIST', '', 'DICT']

In [215]:
list_of_str = ['1', '2', '5', '10']
list(map(float, list_of_str))

[1.0, 2.0, 5.0, 10.0]

In [216]:
# https://book.pythontips.com/en/latest/enumerate.html
# https://www.programiz.com/python-programming/methods/built-in/enumerate
# https://www.geeksforgeeks.org/enumerate-in-python/

a = [10, 20, 30, 40]
for i in enumerate(a):
    print(i)

(0, 10)
(1, 20)
(2, 30)
(3, 40)

In [217]:
b = "hello"
for i in enumerate(b):
    print(i)

(0, 'h')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')

In [218]:
c = {1: 'a', 2: 'b', 3: 'c'}
for i in enumerate(c):
    print(i)

(0, 1)
(1, 2)
(2, 3)

**iter**:
    
https://www.w3schools.com/python/ref_func_iter.asp

https://www.programiz.com/python-programming/methods/built-in/iter

https://webdevblog.ru/kak-sozdat-svoj-iterator-v-python/

In [219]:
num_list = [1, 2, 3, 4, 5]
for i in num_list:
    print(i)

1
2
3
4
5

In [220]:
itr = iter(num_list)

In [221]:
print(next(itr))

1

In [222]:
print(next(itr))

2

In [223]:
print(next(itr))

3

In [224]:
print(next(itr))

4

In [225]:
print(next(itr))

5

In [226]:
print(next(itr))

StopIteration:

In [227]:
# Do you understand the previuos error?

In [228]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

banana
apple
cherry

In [229]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

### Problem â„–3 (all answers are at the end of the notebook):

Sum all the items in a list.

You have l = [0, 1, -1, 2, 3, 30, -100, 5]. How to find this sum?

### Problem â„–4 (all answers are at the end of the notebook):

Write a Python program to check a list is empty or not.

You have list1 = [3, 5, -7, 'mipt', 0.8] and list2 = [].

### Problem â„–5 (all answers are at the end of the notebook):

Write a Python program to construct the following pattern, using a nested for loop.

#### * 
#### * * 
#### * * * 
#### * * * * 
#### * * * * * 
#### * * * * 
#### * * * 
#### * * 
#### *

<center>
<img src="https://www.w3resource.com/w3r_images/python-conditional-image-exercise-4.png">
</center>

In [230]:
# If the picture does not work for you (there is no Internet connection), 
# you can uncomment these two lines below and then run the cell. The picture should appear.
# These two:

#from IPython.display import Image
#Image("python-conditional-image-exercise-4.png")

## Functions

**Functions** in Python:

https://www.w3schools.com/python/python_functions.asp

https://www.tutorialspoint.com/python/python_functions.htm

https://www.programiz.com/python-programming/function

https://www.learnpython.org/en/Functions

https://realpython.com/defining-your-own-python-function/

Do you know '**lambda**'?

https://www.w3schools.com/python/python_lambda.asp

https://realpython.com/python-lambda/

https://webdevblog.ru/kak-ispolzovat-v-python-lyambda-funkcii/

In [231]:
def my_function(x):
    return x ** 2

# For such simple functions one may use lambdas:
my_lambda_function = lambda x: x ** 2

for i in range(5):
    print(i, my_function(i), my_lambda_function(i))

0 0 0
1 1 1
2 4 4
3 9 9
4 16 16

In [232]:
def my_function(x):
    def my_second_function(y):
        return y ** 2
    return x ** 2

for i in range(5):
    print(i, my_function(i))

0 0
1 1
2 4
3 9
4 16

In [233]:
def my_function(x):
    pass

for i in range(5):
    print(i, my_function(i))

0 None
1 None
2 None
3 None
4 None

In [234]:
def my_function(x, y):
    return x ** y

k = 2
for i in range(5):
    print(i, '**', k, 'is', my_function(i, k))

0 ** 2 is 0
1 ** 2 is 1
2 ** 2 is 4
3 ** 2 is 9
4 ** 2 is 16

In [235]:
def my_function(x, y):
    return x ** y, x, y # Do you agree that this is more easier than C/C++ can do? 
# Here it means several output values of the function.

k = 2
for i in range(5):
    print(i, '**', k, 'is', my_function(i, k))

0 ** 2 is (0, 0, 2)
1 ** 2 is (1, 1, 2)
2 ** 2 is (4, 2, 2)
3 ** 2 is (9, 3, 2)
4 ** 2 is (16, 4, 2)

***args** and ****kwargs** in Python:

https://book.pythontips.com/en/latest/args_and_kwargs.html

https://realpython.com/python-kwargs-and-args/

https://www.geeksforgeeks.org/args-kwargs-python/

Russian: https://pavel-karateev.gitbook.io/intermediate-python/sintaksis/args_and_kwargs

Russian: https://tproger.ru/translations/python-args-and-kwargs/

#### ***args** and ****kwargs** allow you to pass multiple arguments or keyword arguments to a function.

https://docs.python.org/3/tutorial/controlflow.html#keyword-arguments

#### Important: ***name** must occur before ****name**.

In [236]:
def adder(*nums): # nums = args
    sum = 0
    for n in nums:
        sum += n
    print("Sum: ", sum)

adder(3, 5)
adder(4, 5, 6, 7)
adder(1, 2, 3, 5, 6)

Sum:  8
Sum:  22
Sum:  17

In [237]:
def adder(**nums): # nums = kwargs
    sum = 0
    for n in nums:
        sum += n
    print("Sum: ", sum)

adder(3, 5)
adder(4, 5, 6, 7)
adder(1, 2, 3, 5, 6)

TypeError: adder() takes 0 positional arguments but 2 were given

In [238]:
def intro(**data):
    print("\nData type of argument: ", type(data))
    for key, value in data.items(): # https://www.programiz.com/python-programming/methods/dictionary/items
        print("{} is {}".format(key, value))

intro(Firstname = "Sita", Lastname = "Sharma", Age = 22, Phone = 1234567890)

Data type of argument:  <class 'dict'>
Firstname is Sita
Lastname is Sharma
Age is 22
Phone is 1234567890

In [239]:
def intro(**data):
    print("\nData type of argument: ", type(data))
    for key, value in data.items():
        print("{} is {}".format(key, value))

intro(Firstname = "John", Lastname = "Wood", Email = "johnwood@nomail.com", 
      Country = "Wakanda", Age = 25, Phone = 9876543210)

Data type of argument:  <class 'dict'>
Firstname is John
Lastname is Wood
Email is johnwood@nomail.com
Country is Wakanda
Age is 25
Phone is 9876543210

In [240]:
def intro(*data):
    print("\nData type of argument: ", type(data))
    for key, value in data.items():
        print("{} is {}".format(key, value))

intro(Firstname = "John", Lastname = "Wood", Email = "johnwood@nomail.com", 
      Country = "Wakanda", Age = 25, Phone = 9876543210)

TypeError: intro() got an unexpected keyword argument 'Firstname'

In [241]:
a = [1, 2, 3]
b = [*a, 4, 5, 6]
print(b)
b

[1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [242]:
a = [1, 2, 3]
b = [a, 4, 5, 6]
print(b)

[[1, 2, 3], 4, 5, 6]

In [243]:
def printScores(student, *scores):
    print(f"Student Name: {student}")
    for score in scores:
        print(score)
        
printScores("Jonathan", 100, 95, 88, 92, 99)

Student Name: Jonathan
100
95
88
92
99

In [244]:
def printScores(student, *scores):
    print(f"Student Name: {student}")
    for score in scores:
        print(score)
        
printScores(100, 95, 88, 92, 99)

Student Name: 100
95
88
92
99

In [245]:
def printPetNames(owner, **pets):
    print(f"Owner Name: {owner}")
    for pet,name in pets.items():
        print(f"{pet}: {name}")
        
printPetNames("Jonathan", dog = "Brock", fish = ["Larry", "Curly", "Moe"], turtle = "Shelldon")

Owner Name: Jonathan
dog: Brock
fish: ['Larry', 'Curly', 'Moe']
turtle: Shelldon

In [246]:
def my_function(*argc):
    print(type(argc))
    return argc

my_function(1, 2, 't')

<class 'tuple'>

(1, 2, 't')

In [247]:
def my_function(*argc):
    print(type(argc))
    return argc

my_function(1, 2, 't', d = 3)

TypeError: my_function() got an unexpected keyword argument 'd'

In [248]:
def my_function(**argc):
    print(type(argc))
    return argc

my_function(a = 1, b = 2, c = 't')

<class 'dict'>

{'a': 1, 'b': 2, 'c': 't'}

In [249]:
def my_function(q, *AAA, **BBB):
    print(type(q))
    print(type(AAA))
    print(type(BBB))
    return q, AAA, BBB

my_function(4, 111, 1, 2, 3, a = 't', b = 56, c = '4t', d = '45')

<class 'int'>
<class 'tuple'>
<class 'dict'>

(4, (111, 1, 2, 3), {'a': 't', 'b': 56, 'c': '4t', 'd': '45'})

In [250]:
# Important: *name must occur before **name.

def my_function(q, **BBB, *AAA):
    print(type(q))
    print(type(AAA))
    print(type(BBB))
    return q, AAA, BBB

my_function(4, a = 't', b = 56, c = '4t', d = '45', 111, 1, 2, 3)

SyntaxError: invalid syntax (<ipython-input-250-a5932674bd6b>, line 3)

In [251]:
def some_function(argument1, argument2):
    print(argument1 + argument2)

some_function(3, 8)
some_function(['foo'], ['bar'])

11
['foo', 'bar']

Arguments with default values:

In [252]:
def some_function(argument1, argument2 = 42):
    print("{} ----- {}".format(argument1, argument2))

some_function(18)
some_function(18, 19)
some_function(argument2 = 19, argument1 = 18)

some_function(some_function)

18 ----- 42
18 ----- 19
18 ----- 19
<function some_function at 0x7fc031885280> ----- 42

In [253]:
def square(x):
    return x ** 2

for i in range(4):
    print(square(i))

0
1
4
9

In [254]:
from math import factorial

for i in range(1, 10):
    print(factorial(i))

1
2
6
24
120
720
5040
40320
362880

In [255]:
func = lambda x, y: x + y
func(4, 6)

10

In [256]:
func = lambda x, y: x + y
func('a', 'b')

'ab'

In [257]:
func = lambda x, y: x + y
func(5, 'b')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [258]:
(lambda x, y: x + y)(1, 2)

3

In [259]:
(lambda x, y: x + y)('a', 'b')

'ab'

In [260]:
(lambda x, y: x ** y)(3, 3)

27

In [261]:
func = lambda *args: args
func(1, 2, 3, 4)

(1, 2, 3, 4)

In [262]:
func = lambda *args: args
func(1, 2, 'z', 'x')

(1, 2, 'z', 'x')

### Problem â„–6 (all answers are at the end of the notebook):

Write a Python function to find the Max of three numbers.

You have -1, 5 and -100.

### Problem â„–7 (all answers are at the end of the notebook):

Write a Python program to reverse a string.

You have str1 = 'qwerty0987'.

### Problem â„–8 (all answers are at the end of the notebook):

Write a Python function that takes a list and returns a new list with unique elements of the first list.

You have list1 = [1, 2, 3, 't', 3, 't', 4, 5, 'q'].

## Reading and writing files in Python

https://realpython.com/read-write-files-python/

https://docs.python.org/3/tutorial/inputoutput.html#reading-and-writing-files

https://www.guru99.com/reading-and-writing-files-in-python.html

https://www.pythonforbeginners.com/files/reading-and-writing-files-in-python

https://www.geeksforgeeks.org/reading-writing-text-files-python/

https://www.programiz.com/python-programming/file-operation

https://www.w3schools.com/python/python_file_write.asp

In [263]:
f = open('file.txt', 'r')

In [264]:
f.read()

'Jack-Nicholson-in-The-Shining-2043016.jpg\n__pycache__\ncompany_sales_data.csv\nfile.txt\nhw_python.ipynb\nmatplotlib_and_pandas_exercise_4_show_scatter_plot.png\nmememe_cb8e239ef97eb73a7d04ecf46ed4bf5c-1.jpg\nmymodule.py\nmymodule2.py\nmymodule3.py\nnofile.txt\nnva5b9dq8r631.png\noptimisation.ipynb\npython-conditional-image-exercise-4.png\npython1_v1.ipynb\npython2.ipynb-comment.html\npython2_v1.ipynb\npython_old\ntest.txt\ntext.txt\ntrain.csv\n'

In [265]:
f = open('file.txt', 'r')
f.read(20)

'Jack-Nicholson-in-Th'

In [266]:
f.read()

'e-Shining-2043016.jpg\n__pycache__\ncompany_sales_data.csv\nfile.txt\nhw_python.ipynb\nmatplotlib_and_pandas_exercise_4_show_scatter_plot.png\nmememe_cb8e239ef97eb73a7d04ecf46ed4bf5c-1.jpg\nmymodule.py\nmymodule2.py\nmymodule3.py\nnofile.txt\nnva5b9dq8r631.png\noptimisation.ipynb\npython-conditional-image-exercise-4.png\npython1_v1.ipynb\npython2.ipynb-comment.html\npython2_v1.ipynb\npython_old\ntest.txt\ntext.txt\ntrain.csv\n'

In [267]:
f = open('file.txt')
for line in f:
    print(line)

Jack-Nicholson-in-The-Shining-2043016.jpg

__pycache__

company_sales_data.csv

file.txt

hw_python.ipynb

matplotlib_and_pandas_exercise_4_show_scatter_plot.png

mememe_cb8e239ef97eb73a7d04ecf46ed4bf5c-1.jpg

mymodule.py

mymodule2.py

mymodule3.py

nofile.txt

nva5b9dq8r631.png

optimisation.ipynb

python-conditional-image-exercise-4.png

python1_v1.ipynb

python2.ipynb-comment.html

python2_v1.ipynb

python_old

test.txt

text.txt

train.csv

In [268]:
f = open('file.txt')
for line in f:
    line

line

'train.csv\n'

In [269]:
!rm nofile.txt && ls nofile.txt

ls: nofile.txt: No such file or directory

In [270]:
f = open('nofile.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'nofile.txt'

In [271]:
f = open('nofile.txt', 'a+')

In [272]:
!ls -la > ./nofile.txt

In [273]:
f.read()

'total 5448\ndrwxr-xr-x  25 root1  staff      800 Aug 19 02:13 .\ndrwx------@ 16 root1  staff      512 Aug 19 01:08 ..\n-rw-r--r--@  1 root1  staff     6148 Aug 12 06:02 .DS_Store\ndrwxr-xr-x   4 root1  staff      128 Aug 12 06:03 .ipynb_checkpoints\n-rw-r--r--@  1 root1  staff    35182 Jul 29 22:22 Jack-Nicholson-in-The-Shining-2043016.jpg\ndrwxr-xr-x   5 root1  staff      160 Aug 17 02:21 __pycache__\n-rw-r--r--@  1 root1  staff      659 Aug 19 01:04 company_sales_data.csv\n-rw-r--r--@  1 root1  staff      429 Aug 19 02:04 file.txt\n-rw-r--r--@  1 root1  staff     6777 Jul 31 18:10 hw_python.ipynb\n-rw-r--r--@  1 root1  staff    17298 Aug 19 01:07 matplotlib_and_pandas_exercise_4_show_scatter_plot.png\n-rw-r--r--@  1 root1  staff    76267 Jul 31 00:22 mememe_cb8e239ef97eb73a7d04ecf46ed4bf5c-1.jpg\n-rw-r--r--   1 root1  staff      116 Aug 16 14:42 mymodule.py\n-rw-r--r--   1 root1  staff       67 Aug 16 14:45 mymodule2.py\n-rw-r--r--   1 root1  staff      114 Aug 16 14:46 mymodule3.py\n-rw-r--r--   1 root1  staff        0 Aug 19 02:13 nofile.txt\n-rw-r--r--@  1 root1  staff   623360 Jul 29 22:22 nva5b9dq8r631.png\n-rw-r--r--   1 root1  staff     6854 Aug  1 02:13 optimisation.ipynb\n-rw-r--r--@  1 root1  staff     3648 Aug 17 09:09 python-conditional-image-exercise-4.png\n-rw-r--r--@  1 root1  staff   141462 Aug 19 02:12 python1_v1.ipynb\n-rw-r--r--@  1 root1  staff    76156 Jul 31 11:33 python2.ipynb-comment.html\n-rw-r--r--@  1 root1  staff  1684039 Aug 19 01:49 python2_v1.ipynb\ndrwxr-xr-x@  8 root1  staff      256 Aug 17 10:55 python_old\n-rw-r--r--   1 root1  staff       86 Aug 19 02:04 test.txt\n-rw-r--r--@  1 root1  staff       80 Aug 19 02:04 text.txt\n-rw-r--r--@  1 root1  staff    60302 Mar  4 09:07 train.csv\n'

In [274]:
f = open('nofile.txt')
for line in f:
    print(line)

total 5448

drwxr-xr-x  25 root1  staff      800 Aug 19 02:13 .

drwx------@ 16 root1  staff      512 Aug 19 01:08 ..

-rw-r--r--@  1 root1  staff     6148 Aug 12 06:02 .DS_Store

drwxr-xr-x   4 root1  staff      128 Aug 12 06:03 .ipynb_checkpoints

-rw-r--r--@  1 root1  staff    35182 Jul 29 22:22 Jack-Nicholson-in-The-Shining-2043016.jpg

drwxr-xr-x   5 root1  staff      160 Aug 17 02:21 __pycache__

-rw-r--r--@  1 root1  staff      659 Aug 19 01:04 company_sales_data.csv

-rw-r--r--@  1 root1  staff      429 Aug 19 02:04 file.txt

-rw-r--r--@  1 root1  staff     6777 Jul 31 18:10 hw_python.ipynb

-rw-r--r--@  1 root1  staff    17298 Aug 19 01:07 matplotlib_and_pandas_exercise_4_show_scatter_plot.png

-rw-r--r--@  1 root1  staff    76267 Jul 31 00:22 mememe_cb8e239ef97eb73a7d04ecf46ed4bf5c-1.jpg

-rw-r--r--   1 root1  staff      116 Aug 16 14:42 mymodule.py

-rw-r--r--   1 root1  staff       67 Aug 16 14:45 mymodule2.py

-rw-r--r--   1 root1  staff      114 Aug 16 14:46 mymodule3.py

-rw-r--r--   1 root1  staff        0 Aug 19 02:13 nofile.txt

-rw-r--r--@  1 root1  staff   623360 Jul 29 22:22 nva5b9dq8r631.png

-rw-r--r--   1 root1  staff     6854 Aug  1 02:13 optimisation.ipynb

-rw-r--r--@  1 root1  staff     3648 Aug 17 09:09 python-conditional-image-exercise-4.png

-rw-r--r--@  1 root1  staff   141462 Aug 19 02:12 python1_v1.ipynb

-rw-r--r--@  1 root1  staff    76156 Jul 31 11:33 python2.ipynb-comment.html

-rw-r--r--@  1 root1  staff  1684039 Aug 19 01:49 python2_v1.ipynb

drwxr-xr-x@  8 root1  staff      256 Aug 17 10:55 python_old

-rw-r--r--   1 root1  staff       86 Aug 19 02:04 test.txt

-rw-r--r--@  1 root1  staff       80 Aug 19 02:04 text.txt

-rw-r--r--@  1 root1  staff    60302 Mar  4 09:07 train.csv

In [275]:
l = [str(i) + str(i - 1) for i in range(20)]
l

['0-1',
 '10',
 '21',
 '32',
 '43',
 '54',
 '65',
 '76',
 '87',
 '98',
 '109',
 '1110',
 '1211',
 '1312',
 '1413',
 '1514',
 '1615',
 '1716',
 '1817',
 '1918']

In [276]:
w = open('text.txt', 'w+')

In [277]:
w = open('text.txt')
for line in f:
    print(line)

In [278]:
w = open('text.txt', 'w+')
for line in f:
    print(line)

In [279]:
for index in l:
    w.write(index + '\n')

In [280]:
w.read()

''

In [281]:
w = open('text.txt')
for line in f:
    print(line)

In [282]:
f.close()
w.close()

In [283]:
w = open('text.txt', 'r')
l = [line.strip() for line in w]
l

['0-1',
 '10',
 '21',
 '32',
 '43',
 '54',
 '65',
 '76',
 '87',
 '98',
 '109',
 '1110',
 '1211',
 '1312',
 '1413',
 '1514',
 '1615',
 '1716',
 '1817',
 '1918']

In [284]:
f = open('text.txt', 'r')
l = [line.strip() for line in f]
l

['0-1',
 '10',
 '21',
 '32',
 '43',
 '54',
 '65',
 '76',
 '87',
 '98',
 '109',
 '1110',
 '1211',
 '1312',
 '1413',
 '1514',
 '1615',
 '1716',
 '1817',
 '1918']

In [285]:
f = open('text.txt')
for line in f:
    print(line)
    
f.close()

0-1

10

21

32

43

54

65

76

87

98

109

1110

1211

1312

1413

1514

1615

1716

1817

1918

In [286]:
f = open('text.txt')
for line in f:
    print(line)
    
f.close()
f.read()

0-1

10

21

32

43

54

65

76

87

98

109

1110

1211

1312

1413

1514

1615

1716

1817

1918

ValueError: I/O operation on closed file.

In [287]:
# Do you understand the previous error?

In [288]:
f = open('text.txt')

In [289]:
f.

# Press 'Tab'

SyntaxError: invalid syntax (<ipython-input-289-5491e9b5f0c5>, line 1)

https://www.w3schools.com/python/ref_keyword_del.asp

https://www.programiz.com/python-programming/del

Russian: https://pythonz.net/references/named/del/

In [290]:
del f, w

In [291]:
f.

# Press 'Tab'

SyntaxError: invalid syntax (<ipython-input-291-5491e9b5f0c5>, line 1)

In [292]:
open('file.txt').name

'file.txt'

In [293]:
a = open('file.txt').readable()
a

True

In [294]:
open('file.txt').readlines()

['Jack-Nicholson-in-The-Shining-2043016.jpg\n',
 '__pycache__\n',
 'company_sales_data.csv\n',
 'file.txt\n',
 'hw_python.ipynb\n',
 'matplotlib_and_pandas_exercise_4_show_scatter_plot.png\n',
 'mememe_cb8e239ef97eb73a7d04ecf46ed4bf5c-1.jpg\n',
 'mymodule.py\n',
 'mymodule2.py\n',
 'mymodule3.py\n',
 'nofile.txt\n',
 'nva5b9dq8r631.png\n',
 'optimisation.ipynb\n',
 'python-conditional-image-exercise-4.png\n',
 'python1_v1.ipynb\n',
 'python2.ipynb-comment.html\n',
 'python2_v1.ipynb\n',
 'python_old\n',
 'test.txt\n',
 'text.txt\n',
 'train.csv\n']

In [295]:
b = open('file.txt').writable()
b

False

In [296]:
c = open('file.txt', 'w').writable()
c

True

In [297]:
!ls > ./file.txt

# We do it because the previous cell delete all information if the file. So we need to add something.

In [298]:
c = open('file.txt', 'w').writable()
c

True

In [299]:
!ls > ./file.txt

# We do it because the previous cell delete all information if the file. So we need to add something.

In [300]:
c = open('file.txt', 'r').writable()
c

False

In [301]:
d = open('file.txt', 'a').writable()
d

True

In [302]:
d = open('file.txt', 'a').readable()
d

False

In [303]:
d = open('file.txt', 'a+').readable()
d

True

In [304]:
d = open('file.txt', 'a+').writable()
d

True

https://www.geeksforgeeks.org/with-statement-in-python/

https://docs.python.org/2.5/whatsnew/pep-343.html

Russian: https://pythonworld.ru/osnovy/with-as-menedzhery-konteksta.html

In [305]:
with open("test.txt", "a") as f:
    f.write("Line\n") # We write the line to the end of the file 'test.txt'

### Problem â„–9 (all answers are at the end of the notebook):

Write a python program to find the longest words.

You have file 'file.txt'.

Below you can see the information from the file.

In [306]:
!cat file.txt

Jack-Nicholson-in-The-Shining-2043016.jpg
__pycache__
company_sales_data.csv
file.txt
hw_python.ipynb
matplotlib_and_pandas_exercise_4_show_scatter_plot.png
mememe_cb8e239ef97eb73a7d04ecf46ed4bf5c-1.jpg
mymodule.py
mymodule2.py
mymodule3.py
nofile.txt
nva5b9dq8r631.png
optimisation.ipynb
python-conditional-image-exercise-4.png
python1_v1.ipynb
python2.ipynb-comment.html
python2_v1.ipynb
python_old
test.txt
text.txt
train.csv

## Object-oriented programming

#### Some links for Object-oriented programming(OOP):
    
https://realpython.com/python3-object-oriented-programming/
    
https://www.programiz.com/python-programming/object-oriented-programming
    
https://docs.python.org/3/tutorial/classes.html
    
https://python.swaroopch.com/oop.html
    
https://www.datacamp.com/community/tutorials/python-oop-tutorial
    
https://www.tutorialspoint.com/python/python_classes_objects.htm
    
https://python-textbok.readthedocs.io/en/1.0/Object_Oriented_Programming.html

#### Python Class - Exercises, Practice, Solution:

https://www.w3resource.com/python-exercises/class-exercises/

https://gist.github.com/mdang/1f590a8c01acf520c88960953c963825

https://hub-courses.pages.pasteur.fr/python-solutions/Object_Oriented_Programming.html

In [307]:
class A:
    pass

In [308]:
A

__main__.A

In [309]:
type(A)

type

https://stackoverflow.com/questions/625083/what-init-and-self-do-on-python

https://micropyramid.com/blog/understand-self-and-__init__-method-in-python-class/

https://www.edureka.co/blog/init-in-python/

https://www.geeksforgeeks.org/__init__-in-python/

Russian: http://mit.spbau.ru/files/Python_Classes.pdf

In [310]:
class A:
    def g(self):
        return 'hello world'

    
a = A()
a.g()

'hello world'

In [311]:
b = A()
b.g()

'hello world'

In [312]:
type(b)

__main__.A

In [313]:
type(b.g())

str

In [314]:
class A:
    def g(self):
        print(type(self))
        return 'hello world'

    
a = A()
a.g()

<class '__main__.A'>

'hello world'

In [315]:
A.g(4)

<class 'int'>

'hello world'

In [316]:
a.g(4)

TypeError: g() takes 1 positional argument but 2 were given

In [317]:
class B:
    arg = 'Python'
    def g(self):
        return self.arg

b = B()
b.g()

'Python'

In [318]:
B.g(b)

'Python'

In [319]:
B.g()

TypeError: g() missing 1 required positional argument: 'self'

In [320]:
B. # Press 'Tab'

SyntaxError: invalid syntax (<ipython-input-320-afea60d85f73>, line 1)

In [321]:
b.arg = 'spam'
b.g()

'spam'

In [322]:
B.arg = 'spam1'

b = B()
b.g()

'spam1'

In [323]:
B.arg

'spam1'

In [324]:
class A:
    pass

In [325]:
a = A()
b = A()

In [326]:
a.arg = 1
b.arg = 2

In [327]:
print(a.arg)

1

In [328]:
print(b.arg)

2

In [329]:
c = A()
print(c.arg)

AttributeError: 'A' object has no attribute 'arg'

In [330]:
class Car:
    name = "c200"
    make = "mercedez"
    model = 2008
 
    def start(self):
        print("Start")
 
    def stop(self):
        print("Stop")

In [331]:
car_a = Car()
car_b = Car()

In [332]:
type(car_a)

__main__.Car

In [333]:
car_a. # Press 'Tab'

SyntaxError: invalid syntax (<ipython-input-333-b6626043a632>, line 1)

In [334]:
Car. # Press 'Tab'

SyntaxError: invalid syntax (<ipython-input-334-e16338954a68>, line 1)

In [335]:
car_a.start()

Start

In [336]:
car_a.stop()

Stop

In [337]:
Car.start(Car)

Start

In [338]:
Car.start(4)

Start

In [339]:
car_b.model

2008

https://www.programiz.com/python-programming/methods/built-in/dir

https://www.geeksforgeeks.org/python-dir-function/

https://www.w3schools.com/python/ref_func_dir.asp

https://www.journaldev.com/22810/python-dir-function

Russian: https://www.opennet.ru/docs/RUS/diveinto_python/apihelper_builtin.html

In [340]:
dir()

['A',
 'B',
 'Car',
 'In',
 'Out',
 '_',
 '_10',
 '_100',
 '_102',
 '_103',
 '_104',
 '_108',
 '_11',
 '_110',
 '_111',
 '_113',
 '_114',
 '_115',
 '_116',
 '_117',
 '_118',
 '_12',
 '_120',
 '_121',
 '_122',
 '_123',
 '_124',
 '_125',
 '_128',
 '_129',
 '_133',
 '_134',
 '_135',
 '_144',
 '_145',
 '_146',
 '_149',
 '_15',
 '_150',
 '_151',
 '_152',
 '_153',
 '_157',
 '_158',
 '_161',
 '_162',
 '_165',
 '_167',
 '_168',
 '_17',
 '_174',
 '_175',
 '_176',
 '_177',
 '_178',
 '_179',
 '_18',
 '_19',
 '_20',
 '_206',
 '_207',
 '_208',
 '_209',
 '_21',
 '_210',
 '_211',
 '_214',
 '_215',
 '_22',
 '_23',
 '_24',
 '_241',
 '_246',
 '_248',
 '_249',
 '_25',
 '_255',
 '_256',
 '_258',
 '_259',
 '_26',
 '_260',
 '_261',
 '_262',
 '_264',
 '_265',
 '_266',
 '_268',
 '_273',
 '_275',
 '_28',
 '_280',
 '_283',
 '_284',
 '_292',
 '_293',
 '_294',
 '_295',
 '_296',
 '_298',
 '_3',
 '_30',
 '_300',
 '_301',
 '_302',
 '_303',
 '_304',
 '_308',
 '_309',
 '_31',
 '_310',
 '_311',
 '_312',
 '_313',
 '_314',
 '_315',
 '_317',
 '_318',
 '_321',
 '_322',
 '_323',
 '_332',
 '_339',
 '_34',
 '_35',
 '_36',
 '_39',
 '_4',
 '_40',
 '_41',
 '_43',
 '_44',
 '_45',
 '_47',
 '_48',
 '_49',
 '_5',
 '_50',
 '_51',
 '_52',
 '_53',
 '_55',
 '_58',
 '_59',
 '_6',
 '_62',
 '_63',
 '_65',
 '_66',
 '_69',
 '_7',
 '_75',
 '_76',
 '_77',
 '_78',
 '_79',
 '_8',
 '_80',
 '_82',
 '_83',
 '_84',
 '_85',
 '_86',
 '_87',
 '_88',
 '_89',
 '_9',
 '_90',
 '_91',
 '_92',
 '_93',
 '_94',
 '_95',
 '_96',
 '_97',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_exit_code',
 '_i',
 '_i1',
 '_i10',
 '_i100',
 '_i101',
 '_i102',
 '_i103',
 '_i104',
 '_i105',
 '_i106',
 '_i107',
 '_i108',
 '_i109',
 '_i11',
 '_i110',
 '_i111',
 '_i112',
 '_i113',
 '_i114',
 '_i115',
 '_i116',
 '_i117',
 '_i118',
 '_i119',
 '_i12',
 '_i120',
 '_i121',
 '_i122',
 '_i123',
 '_i124',
 '_i125',
 '_i126',
 '_i127',
 '_i128',
 '_i129',
 '_i13',
 '_i130',
 '_i131',
 '_i132',
 '_i133',
 '_i134',
 '_i135',
 '_i136',
 '_i137',
 '_i138',
 '_i139',
 '_i14',
 '_i140',
 '_i141',
 '_i142',
 '_i143',
 '_i144',
 '_i145',
 '_i146',
 '_i147',
 '_i148',
 '_i149',
 '_i15',
 '_i150',
 '_i151',
 '_i152',
 '_i153',
 '_i154',
 '_i155',
 '_i156',
 '_i157',
 '_i158',
 '_i159',
 '_i16',
 '_i160',
 '_i161',
 '_i162',
 '_i163',
 '_i164',
 '_i165',
 '_i166',
 '_i167',
 '_i168',
 '_i169',
 '_i17',
 '_i170',
 '_i171',
 '_i172',
 '_i173',
 '_i174',
 '_i175',
 '_i176',
 '_i177',
 '_i178',
 '_i179',
 '_i18',
 '_i180',
 '_i181',
 '_i182',
 '_i183',
 '_i184',
 '_i185',
 '_i186',
 '_i187',
 '_i188',
 '_i189',
 '_i19',
 '_i190',
 '_i191',
 '_i193',
 '_i194',
 '_i195',
 '_i196',
 '_i197',
 '_i198',
 '_i199',
 '_i2',
 '_i20',
 '_i200',
 '_i201',
 '_i202',
 '_i203',
 '_i204',
 '_i205',
 '_i206',
 '_i207',
 '_i208',
 '_i209',
 '_i21',
 '_i210',
 '_i211',
 '_i212',
 '_i213',
 '_i214',
 '_i215',
 '_i216',
 '_i217',
 '_i218',
 '_i219',
 '_i22',
 '_i220',
 '_i221',
 '_i222',
 '_i223',
 '_i224',
 '_i225',
 '_i226',
 '_i227',
 '_i228',
 '_i229',
 '_i23',
 '_i230',
 '_i231',
 '_i232',
 '_i233',
 '_i234',
 '_i235',
 '_i236',
 '_i237',
 '_i238',
 '_i239',
 '_i24',
 '_i240',
 '_i241',
 '_i242',
 '_i243',
 '_i244',
 '_i245',
 '_i246',
 '_i247',
 '_i248',
 '_i249',
 '_i25',
 '_i250',
 '_i251',
 '_i252',
 '_i253',
 '_i254',
 '_i255',
 '_i256',
 '_i257',
 '_i258',
 '_i259',
 '_i26',
 '_i260',
 '_i261',
 '_i262',
 '_i263',
 '_i264',
 '_i265',
 '_i266',
 '_i267',
 '_i268',
 '_i269',
 '_i27',
 '_i270',
 '_i271',
 '_i272',
 '_i273',
 '_i274',
 '_i275',
 '_i276',
 '_i277',
 '_i278',
 '_i279',
 '_i28',
 '_i280',
 '_i281',
 '_i282',
 '_i283',
 '_i284',
 '_i285',
 '_i286',
 '_i287',
 '_i288',
 '_i289',
 '_i29',
 '_i290',
 '_i291',
 '_i292',
 '_i293',
 '_i294',
 '_i295',
 '_i296',
 '_i297',
 '_i298',
 '_i299',
 '_i3',
 '_i30',
 '_i300',
 '_i301',
 '_i302',
 '_i303',
 '_i304',
 '_i305',
 '_i306',
 '_i307',
 '_i308',
 '_i309',
 '_i31',
 '_i310',
 '_i311',
 '_i312',
 '_i313',
 '_i314',
 '_i315',
 '_i316',
 '_i317',
 '_i318',
 '_i319',
 '_i32',
 '_i320',
 '_i321',
 '_i322',
 '_i323',
 '_i324',
 '_i325',
 '_i326',
 '_i327',
 '_i328',
 '_i329',
 '_i33',
 '_i330',
 '_i331',
 '_i332',
 '_i333',
 '_i334',
 '_i335',
 '_i336',
 '_i337',
 '_i338',
 '_i339',
 '_i34',
 '_i340',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i57',
 '_i58',
 '_i59',
 '_i6',
 '_i60',
 '_i61',
 '_i62',
 '_i63',
 '_i64',
 '_i65',
 '_i66',
 '_i67',
 '_i68',
 '_i69',
 '_i7',
 '_i70',
 '_i71',
 '_i72',
 '_i73',
 '_i74',
 '_i75',
 '_i76',
 '_i77',
 '_i78',
 '_i79',
 '_i8',
 '_i80',
 '_i81',
 '_i82',
 '_i83',
 '_i84',
 '_i85',
 '_i86',
 '_i87',
 '_i88',
 '_i89',
 '_i9',
 '_i90',
 '_i91',
 '_i92',
 '_i93',
 '_i94',
 '_i95',
 '_i96',
 '_i97',
 '_i98',
 '_i99',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'a2',
 'a3',
 'aaa',
 'adder',
 'ages',
 'array1',
 'array11',
 'array2',
 'b',
 'c',
 'c1',
 'c2',
 'c3',
 'car_a',
 'car_b',
 'd',
 'dict1',
 'dict2',
 'e',
 'exit',
 'f',
 'f1',
 'f2',
 'factorial',
 'func',
 'g',
 'get_ipython',
 'h',
 'h1',
 'i',
 'index',
 'intro',
 'itertools',
 'itr',
 'j',
 'k',
 'key',
 'l',
 'line',
 'list1',
 'list2',
 'list_of_str',
 'list_of_words',
 'my_function',
 'my_lambda_function',
 'name',
 'names',
 'not_null_variable',
 'null_variable',
 'num',
 'num_list',
 'obj',
 'objects',
 'odds',
 'printPetNames',
 'printScores',
 'quit',
 's',
 'some_function',
 'square',
 'squares',
 't',
 'thisset',
 'tuple1',
 'tuple2',
 'v73',
 'word_freq',
 'x']

In [341]:
dir(car_b)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'make',
 'model',
 'name',
 'start',
 'stop']

In [342]:
class Car:
    car_count = 0
 
    def start(self, name, make, model):
        print("OK")
        self.name = name
        self.make = make
        self.model = model
        Car.car_count += 1

In [343]:
car_a = Car()  
car_a.start("Corrola", "Toyota", 2015)  

print(car_a.name)  
print(car_a.car_count)

OK
Corrola
1

In [344]:
car_b = Car()  
car_b.start("City", "Honda", 2013)  
print(car_b.name)  
print(car_b.car_count)

OK
City
2

https://www.tutorialspoint.com/difference-between-method-and-function-in-python

https://www.w3schools.com/python/gloss_python_object_methods.asp

https://data-flair.training/blogs/python-method/

https://docs.python.org/3/tutorial/classes.html

https://www.dummies.com/programming/python/working-with-methods-in-python/

https://www.journaldev.com/18722/python-static-method

https://realpython.com/instance-class-and-static-methods-demystified/

In [345]:
class Car:
 
    @staticmethod
    def get_class_details():
        print ("Hello, user :)")

Car.get_class_details()

Hello, user :)

In [346]:
class Square:
 
    @staticmethod
    def get_squares(a, b):
        return a * a, b * b

print(Square.get_squares(3, 5))

(9, 25)

In [347]:
c = Car()
c.get_class_details()

Hello, user :)

In [348]:
class Car:
 
    def start(self):
        print("OK")

car_a = Car()  
print(car_a)

<__main__.Car object at 0x7fc03176ff40>

In [349]:
class Car:
 
    def __str__(self):
        return "Car class Object"
 
    def start(self):
        print("OK")

car_a = Car()  
print(car_a)

Car class Object

In [350]:
class Car:
 
    def str__(self):
        return "Car class Object"
 
    def start(self):
        print("OK")

car_a = Car()  
print(car_a)

<__main__.Car object at 0x7fc031878460>

In [351]:
print(car_a.start())

OK
None

In [352]:
class Car:
    def __str__(self):
        return "Car class Object"
 
    def start(self):
        print("OK")
        return 4

car_a = Car()  
print(car_a)

Car class Object

In [353]:
print(car_a.start())

OK
4

In [354]:
class Car:
    def __str__(self):
        return "Car class Object"
 
    def start(self):
        print("OK")

car_a = Car()  
print(car_a)

Car class Object

In [355]:
car_a.start()

OK

In [356]:
dir(Car)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'start']

### Problem â„–10 (all answers are at the end of the notebook):

Write a Python program to convert a roman numeral to an integer.

You have 'MMMCMLXXXVI', 'MMMM' and 'C'.

### Problem â„–11 (all answers are at the end of the notebook):

Write a Python program to convert an integer to a roman numeral.

You have 1, 4000 and 3986.

### Problem â„–12 (all answers are at the end of the notebook):

Write a Python program to implement pow(x, n).

You have pairs (x, n): (2, -3), (3, 5) and (100, 0).

## Modules in Python

#### Some links about module struction of Python:

https://docs.python.org/3/tutorial/modules.html
    
https://docs.python.org/3/py-modindex.html
    
https://www.w3schools.com/python/python_modules.asp
    
https://www.tutorialspoint.com/python/python_modules.htm
    
https://realpython.com/python-modules-packages/

##### Consider a module to be the same as a code library.

##### A file containing a set of functions you want to include in your application.

In [357]:
import math

math.ceil(4.3)

5

In [358]:
math.ceil(-1.4)

-1

In [359]:
math.fabs(-4)

4.0

In [360]:
math.hypot(3, 4) # math.sqrt(x * x + y * y) or hypotenuse

5.0

In [361]:
math.sinh(3)

10.017874927409903

#### See other modules in Python below (Additional materials)

In [362]:
!cat mymodule.py

def greeting(name):
    print("Hello, " + name)

person1 = {
  "name": "John",
  "age": 36,
  "country": "Norway"
}

In [363]:
import mymodule

mymodule.greeting("Jonathan")

Hello, Jonathan

In [364]:
import mymodule as mx

mx.greeting("Ann")

Hello, Ann

In [365]:
!cat mymodule2.py

person1 = {
  "name": "John",
  "age": 36,
  "country": "Norway"
}

In [366]:
import mymodule2

a = mymodule2.person1["age"]
print(a)

36

In [367]:
x = dir(math)
print(x)

['__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [368]:
x = dir(mymodule)
print(x)

['__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'greeting', 'person1']

In [369]:
x = dir(mymodule2)
print(x)

['__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'person1']

In [370]:
!cat mymodule3.py

def greeting(name):
  print("Hello, " + name)

person1 = {
  "name": "John",
  "age": 36,
  "country": "Norway"
}

In [371]:
from mymodule3 import person1

print(person1["country"])

Norway

## Additional materials

https://pynative.com/python-input-function-get-user-input/

In [372]:
a = input('Write something, please: ')
a

Write something, please: 3

'3'

In [373]:
type(a)

str

In [374]:
a = input('Write something, please: ')
a

Write something, please: 45

'45'

In [375]:
type(a)

str

We've defined a number of variables so far. Here's how you can list all of them (+ some internals of python):

In [376]:
dir()

['A',
 'B',
 'Car',
 'In',
 'Out',
 'Square',
 '_',
 '_10',
 '_100',
 '_102',
 '_103',
 '_104',
 '_108',
 '_11',
 '_110',
 '_111',
 '_113',
 '_114',
 '_115',
 '_116',
 '_117',
 '_118',
 '_12',
 '_120',
 '_121',
 '_122',
 '_123',
 '_124',
 '_125',
 '_128',
 '_129',
 '_133',
 '_134',
 '_135',
 '_144',
 '_145',
 '_146',
 '_149',
 '_15',
 '_150',
 '_151',
 '_152',
 '_153',
 '_157',
 '_158',
 '_161',
 '_162',
 '_165',
 '_167',
 '_168',
 '_17',
 '_174',
 '_175',
 '_176',
 '_177',
 '_178',
 '_179',
 '_18',
 '_19',
 '_20',
 '_206',
 '_207',
 '_208',
 '_209',
 '_21',
 '_210',
 '_211',
 '_214',
 '_215',
 '_22',
 '_23',
 '_24',
 '_241',
 '_246',
 '_248',
 '_249',
 '_25',
 '_255',
 '_256',
 '_258',
 '_259',
 '_26',
 '_260',
 '_261',
 '_262',
 '_264',
 '_265',
 '_266',
 '_268',
 '_273',
 '_275',
 '_28',
 '_280',
 '_283',
 '_284',
 '_292',
 '_293',
 '_294',
 '_295',
 '_296',
 '_298',
 '_3',
 '_30',
 '_300',
 '_301',
 '_302',
 '_303',
 '_304',
 '_308',
 '_309',
 '_31',
 '_310',
 '_311',
 '_312',
 '_313',
 '_314',
 '_315',
 '_317',
 '_318',
 '_321',
 '_322',
 '_323',
 '_332',
 '_339',
 '_34',
 '_340',
 '_341',
 '_35',
 '_356',
 '_357',
 '_358',
 '_359',
 '_36',
 '_360',
 '_361',
 '_372',
 '_373',
 '_374',
 '_375',
 '_39',
 '_4',
 '_40',
 '_41',
 '_43',
 '_44',
 '_45',
 '_47',
 '_48',
 '_49',
 '_5',
 '_50',
 '_51',
 '_52',
 '_53',
 '_55',
 '_58',
 '_59',
 '_6',
 '_62',
 '_63',
 '_65',
 '_66',
 '_69',
 '_7',
 '_75',
 '_76',
 '_77',
 '_78',
 '_79',
 '_8',
 '_80',
 '_82',
 '_83',
 '_84',
 '_85',
 '_86',
 '_87',
 '_88',
 '_89',
 '_9',
 '_90',
 '_91',
 '_92',
 '_93',
 '_94',
 '_95',
 '_96',
 '_97',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_exit_code',
 '_i',
 '_i1',
 '_i10',
 '_i100',
 '_i101',
 '_i102',
 '_i103',
 '_i104',
 '_i105',
 '_i106',
 '_i107',
 '_i108',
 '_i109',
 '_i11',
 '_i110',
 '_i111',
 '_i112',
 '_i113',
 '_i114',
 '_i115',
 '_i116',
 '_i117',
 '_i118',
 '_i119',
 '_i12',
 '_i120',
 '_i121',
 '_i122',
 '_i123',
 '_i124',
 '_i125',
 '_i126',
 '_i127',
 '_i128',
 '_i129',
 '_i13',
 '_i130',
 '_i131',
 '_i132',
 '_i133',
 '_i134',
 '_i135',
 '_i136',
 '_i137',
 '_i138',
 '_i139',
 '_i14',
 '_i140',
 '_i141',
 '_i142',
 '_i143',
 '_i144',
 '_i145',
 '_i146',
 '_i147',
 '_i148',
 '_i149',
 '_i15',
 '_i150',
 '_i151',
 '_i152',
 '_i153',
 '_i154',
 '_i155',
 '_i156',
 '_i157',
 '_i158',
 '_i159',
 '_i16',
 '_i160',
 '_i161',
 '_i162',
 '_i163',
 '_i164',
 '_i165',
 '_i166',
 '_i167',
 '_i168',
 '_i169',
 '_i17',
 '_i170',
 '_i171',
 '_i172',
 '_i173',
 '_i174',
 '_i175',
 '_i176',
 '_i177',
 '_i178',
 '_i179',
 '_i18',
 '_i180',
 '_i181',
 '_i182',
 '_i183',
 '_i184',
 '_i185',
 '_i186',
 '_i187',
 '_i188',
 '_i189',
 '_i19',
 '_i190',
 '_i191',
 '_i193',
 '_i194',
 '_i195',
 '_i196',
 '_i197',
 '_i198',
 '_i199',
 '_i2',
 '_i20',
 '_i200',
 '_i201',
 '_i202',
 '_i203',
 '_i204',
 '_i205',
 '_i206',
 '_i207',
 '_i208',
 '_i209',
 '_i21',
 '_i210',
 '_i211',
 '_i212',
 '_i213',
 '_i214',
 '_i215',
 '_i216',
 '_i217',
 '_i218',
 '_i219',
 '_i22',
 '_i220',
 '_i221',
 '_i222',
 '_i223',
 '_i224',
 '_i225',
 '_i226',
 '_i227',
 '_i228',
 '_i229',
 '_i23',
 '_i230',
 '_i231',
 '_i232',
 '_i233',
 '_i234',
 '_i235',
 '_i236',
 '_i237',
 '_i238',
 '_i239',
 '_i24',
 '_i240',
 '_i241',
 '_i242',
 '_i243',
 '_i244',
 '_i245',
 '_i246',
 '_i247',
 '_i248',
 '_i249',
 '_i25',
 '_i250',
 '_i251',
 '_i252',
 '_i253',
 '_i254',
 '_i255',
 '_i256',
 '_i257',
 '_i258',
 '_i259',
 '_i26',
 '_i260',
 '_i261',
 '_i262',
 '_i263',
 '_i264',
 '_i265',
 '_i266',
 '_i267',
 '_i268',
 '_i269',
 '_i27',
 '_i270',
 '_i271',
 '_i272',
 '_i273',
 '_i274',
 '_i275',
 '_i276',
 '_i277',
 '_i278',
 '_i279',
 '_i28',
 '_i280',
 '_i281',
 '_i282',
 '_i283',
 '_i284',
 '_i285',
 '_i286',
 '_i287',
 '_i288',
 '_i289',
 '_i29',
 '_i290',
 '_i291',
 '_i292',
 '_i293',
 '_i294',
 '_i295',
 '_i296',
 '_i297',
 '_i298',
 '_i299',
 '_i3',
 '_i30',
 '_i300',
 '_i301',
 '_i302',
 '_i303',
 '_i304',
 '_i305',
 '_i306',
 '_i307',
 '_i308',
 '_i309',
 '_i31',
 '_i310',
 '_i311',
 '_i312',
 '_i313',
 '_i314',
 '_i315',
 '_i316',
 '_i317',
 '_i318',
 '_i319',
 '_i32',
 '_i320',
 '_i321',
 '_i322',
 '_i323',
 '_i324',
 '_i325',
 '_i326',
 '_i327',
 '_i328',
 '_i329',
 '_i33',
 '_i330',
 '_i331',
 '_i332',
 '_i333',
 '_i334',
 '_i335',
 '_i336',
 '_i337',
 '_i338',
 '_i339',
 '_i34',
 '_i340',
 '_i341',
 '_i342',
 '_i343',
 '_i344',
 '_i345',
 '_i346',
 '_i347',
 '_i348',
 '_i349',
 '_i35',
 '_i350',
 '_i351',
 '_i352',
 '_i353',
 '_i354',
 '_i355',
 '_i356',
 '_i357',
 '_i358',
 '_i359',
 '_i36',
 '_i360',
 '_i361',
 '_i362',
 '_i363',
 '_i364',
 '_i365',
 '_i366',
 '_i367',
 '_i368',
 '_i369',
 '_i37',
 '_i370',
 '_i371',
 '_i372',
 '_i373',
 '_i374',
 '_i375',
 '_i376',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i57',
 '_i58',
 '_i59',
 '_i6',
 '_i60',
 '_i61',
 '_i62',
 '_i63',
 '_i64',
 '_i65',
 '_i66',
 '_i67',
 '_i68',
 '_i69',
 '_i7',
 '_i70',
 '_i71',
 '_i72',
 '_i73',
 '_i74',
 '_i75',
 '_i76',
 '_i77',
 '_i78',
 '_i79',
 '_i8',
 '_i80',
 '_i81',
 '_i82',
 '_i83',
 '_i84',
 '_i85',
 '_i86',
 '_i87',
 '_i88',
 '_i89',
 '_i9',
 '_i90',
 '_i91',
 '_i92',
 '_i93',
 '_i94',
 '_i95',
 '_i96',
 '_i97',
 '_i98',
 '_i99',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'a2',
 'a3',
 'aaa',
 'adder',
 'ages',
 'array1',
 'array11',
 'array2',
 'b',
 'c',
 'c1',
 'c2',
 'c3',
 'car_a',
 'car_b',
 'd',
 'dict1',
 'dict2',
 'e',
 'exit',
 'f',
 'f1',
 'f2',
 'factorial',
 'func',
 'g',
 'get_ipython',
 'h',
 'h1',
 'i',
 'index',
 'intro',
 'itertools',
 'itr',
 'j',
 'k',
 'key',
 'l',
 'line',
 'list1',
 'list2',
 'list_of_str',
 'list_of_words',
 'math',
 'mx',
 'my_function',
 'my_lambda_function',
 'mymodule',
 'mymodule2',
 'name',
 'names',
 'not_null_variable',
 'null_variable',
 'num',
 'num_list',
 'obj',
 'objects',
 'odds',
 'person1',
 'printPetNames',
 'printScores',
 'quit',
 's',
 'some_function',
 'square',
 'squares',
 't',
 'thisset',
 'tuple1',
 'tuple2',
 'v73',
 'word_freq',
 'x']

Note: **Be careful with your variable names!** Python allows you to use the built-in function names for your variables, which can mess things up:

In [377]:
print = False
print

False

In [378]:
print(10)

TypeError: 'bool' object is not callable

In [379]:
del print
print(10)

10

Note that after a cell execution the value of the last expression will be printed out, so you don't always have to use the `print` function:

In [380]:
a = 1
b = 2
a + b

3

Unless you finish a line with a semicolon:

In [381]:
a + b;

In [382]:
string = 'hello world, ok?'

In [383]:
# https://docs.python.org/3/whatsnew/3.8.html

if len(string) > 10:
    print(len(string))   # the len(string) is calculated twice

16

In [384]:
if (length := len(string)) > 10:
    print(length)

16

In [385]:
age = 26    
if age > 18:
    print(age)

26

In [386]:
if (age := 26) > 18:
    print(age)

26

In [387]:
if (age = 26) > 18:
    print(age)

SyntaxError: invalid syntax (<ipython-input-387-3b0cdf4b934e>, line 1)

https://www.w3schools.com/python/module_random.asp
    
https://docs.python.org/3/library/random.html
    
Russian: https://ru.hexlet.io/courses/python-basics/lessons/module-random/theory_unit

In [388]:
import random
print( random.random() )

0.28437462501002475

In [389]:
random.random()

0.4249299468021026

In [390]:
from random import randint
randint(0, 9)

5

In [391]:
from random import randrange
randrange(0, 10, 2)

0

In [392]:
city_list = ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Philadelphia']
random.choice(city_list)

'Los Angeles'

In [393]:
randint(-10, 0)

-3

In [394]:
randint(0, 0)

0

In [395]:
from random import gauss
gauss(0, 2)

-1.3342428931817154

In [396]:
random.seed(1)
randint(-10, 0)

-8

In [397]:
#random.seed(1)
randint(-10, 0)

-1

In [398]:
list1 = [2, 5, 8, 9, 12]
random.sample(list1, 3)

[2, 8, 12]

In [399]:
list1 = [2, 5, 8, 9, 12]
random.sample(list1, 5)

[9, 12, 5, 8, 2]

In [400]:
list1 = [2, 5, 8, 9, 12]
random.shuffle(list1)
list1

[8, 5, 12, 9, 2]

In [401]:
random.uniform(10.5, 25.5)

16.9915060185758

In [402]:
random.uniform(0, 1)

0.762280082457942

https://pynative.com/python-secrets-module/

https://pypi.org/project/python-secrets/

https://docs.python.org/3/library/secrets.html

In [403]:
import random
import secrets
 
number = random.SystemRandom().random()
print("number = ", number)

number =  0.3450799068030621

In [404]:
print("token_bytes = ", secrets.token_bytes(16))

token_bytes =  b'\x0b)oi\x1e/lB+\xdf\xfe\x91\xf9e+\xe3'

In [405]:
print("token_bytes = ", secrets.token_bytes(43))

token_bytes =  b'n\xab\xf0\x7f{\xc8\xec:[\xf7\xe6^M\xbef\x015\xc6%@\xc7\x9a\\\x03\xa1\x9f\x9e\xdb\r l\xc0\x8a.\xaa\xb9\xad\t%\xfd00\x12'

In [406]:
print("token_bytes = ", secrets.token_bytes())

token_bytes =  b"\x80l\x14\xbbJ\xafRL\xf6\xb2\xb9\xd1\xb3`\x0f\xe3\xa6\nv\xac\xc5SD@'s\xd5\xae\xbf\xac\xe0h"

In [407]:
random.getrandbits(16)

138

In [408]:
random.seed(1)
random.getrandbits(16)

8805

### Problem â„–13 (all answers are at the end of the notebook):

Write a Python program to get a single random element from a specified string.

You have str1 = 'sddcsrvebumimubwfarsbbsrb'.

### Here you can see a lot of tasks and solutions for your Python practise:

https://www.w3resource.com/python-exercises/

https://pynative.com/python-exercises-with-solutions/

https://github.com/zhiwehu/Python-programming-exercises

## Answers to problems:

In [409]:
# Answer to problem â„–0:

a = 3 + 7j

print('The real =', a.real, 'and imaginary parts =', a.imag)

The real = 3.0 and imaginary parts = 7.0

In [410]:
# Answer to problem â„–1:

original_list = [50, 4, 52, 't', 34, '9z4']
new_list = list(original_list)
print(original_list)
print(new_list)

[50, 4, 52, 't', 34, '9z4']
[50, 4, 52, 't', 34, '9z4']

In [411]:
# Answer to problem â„–2:

list1 = ['h', 'e', 'l', 'l', 'o', ',', ' ', 'w', 'o', 'r', 'l', 'd', '!']

Str = ''.join(list1)
print(Str)

hello, world!

In [412]:
# Answer to problem â„–3:

l = [0, 1, -1, 2, 3, 30, -100, 5]

Sum = 0
for element in l:
    Sum += element
    
print(Sum)

# Also you can use standard 'sum' from Python.
# https://www.geeksforgeeks.org/sum-function-python/

-60

In [413]:
# Answer to problem â„–4:

list1 = [3, 5, -7, 'mipt', 0.8]
list2 = []

if not list1:
    print("List1 is empty")
    
else:
    print("List1 is not empty")
    
if not list2:
    print("List2 is empty")
    
else:
    print("List2 is not empty")

List1 is not empty
List2 is empty

In [414]:
# Answer to problem â„–5:

n = 5

for i in range(n):
    for j in range(i):
        print ('* ', end = "")
    print('')

for i in range(n, 0, - 1):
    for j in range(i):
        print('* ', end = "")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [415]:
# Answer to problem â„–6:

# This algorithm can be implemented in different ways.

def max_of_two(x, y):
    if x > y:
        return x
    return y
def max_of_three(x, y, z):
    return max_of_two(x, max_of_two(y, z))

print(max_of_three(-1, 5, -100))

5

In [416]:
# Answer to problem â„–7:

str1 = 'qwerty0987'

def string_reverse(str1):
    rstr1 = ''
    index = len(str1)
    while index > 0:
        rstr1 += str1[index - 1]
        index = index - 1
    return rstr1

print(string_reverse(str1))

7890ytrewq

In [417]:
# Answer to problem â„–8:

list1 = [1, 2, 3, 't', 3, 't', 4, 5, 'q']

def unique_list(l):
    x = []
    for a in l:
        if a not in x:
            x.append(a)
    return x

print(unique_list(list1))

[1, 2, 3, 't', 4, 5, 'q']

In [418]:
# Answer to problem â„–9:

def longest_word(filename):
    with open(filename, 'r') as infile:
              words = infile.read().split()
    max_len = len(max(words, key = len))
    return [word for word in words if len(word) == max_len]

print(longest_word('file.txt'))

['matplotlib_and_pandas_exercise_4_show_scatter_plot.png']

In [419]:
!cat file.txt

Jack-Nicholson-in-The-Shining-2043016.jpg
__pycache__
company_sales_data.csv
file.txt
hw_python.ipynb
matplotlib_and_pandas_exercise_4_show_scatter_plot.png
mememe_cb8e239ef97eb73a7d04ecf46ed4bf5c-1.jpg
mymodule.py
mymodule2.py
mymodule3.py
nofile.txt
nva5b9dq8r631.png
optimisation.ipynb
python-conditional-image-exercise-4.png
python1_v1.ipynb
python2.ipynb-comment.html
python2_v1.ipynb
python_old
test.txt
text.txt
train.csv

In [420]:
# Answer to problem â„–10:

class py_solution:
    def roman_to_int(self, s):
        rom_val = {'I': 1, 'V': 5, 'X': 10, 'L': 50, 'C': 100, 'D': 500, 'M': 1000}
        int_val = 0
        for i in range(len(s)):
            if i > 0 and rom_val[s[i]] > rom_val[s[i - 1]]:
                int_val += rom_val[s[i]] - 2 * rom_val[s[i - 1]]
            else:
                int_val += rom_val[s[i]]
        return int_val

print(py_solution().roman_to_int('MMMCMLXXXVI'))
print(py_solution().roman_to_int('MMMM'))
print(py_solution().roman_to_int('C'))
print(py_solution().roman_to_int(''))

3986
4000
100
0

In [421]:
# Answer to problem â„–11:

class py_solution:
    def int_to_Roman(self, num):
        val = [
            1000, 900, 500, 400,
            100, 90, 50, 40,
            10, 9, 5, 4,
            1
            ]
        syb = [
            "M", "CM", "D", "CD",
            "C", "XC", "L", "XL",
            "X", "IX", "V", "IV",
            "I"
            ]
        roman_num = ''
        i = 0
        while  num > 0:
            for _ in range(num // val[i]):
                roman_num += syb[i]
                num -= val[i]
            i += 1
        return roman_num

print(py_solution().int_to_Roman(1))
print(py_solution().int_to_Roman(4000))
print(py_solution().int_to_Roman(3986))
#print(py_solution().int_to_Roman(0))

I
MMMM
MMMCMLXXXVI

In [422]:
# Answer to problem â„–12:

class py_solution:
    def pow(self, x, n):
        if x == 0 or x == 1 or n == 1:
            return x 

        if x == -1:
            if n % 2 == 0:
                return 1
            else:
                return -1
        if n == 0:
            return 1
        if n < 0:
            return 1 / self.pow(x, -n)
        val = self.pow(x, n // 2)
        if n % 2 == 0:
            return val * val
        return val * val * x

print(py_solution().pow(2, -3));
print(py_solution().pow(3, 5));
print(py_solution().pow(100, 0));

0.125
243
1

In [423]:
# Answer to problem â„–13:

import random

str1 = 'sddcsrvebumimubwfarsbbsrb'

print(random.choice('abcdefghijklm'))

j

# The notebook is based on https://github.com/HSE-LAMBDA/MLatMIPS-2020 (Mosphys 2020, https://mosphys.ru) and many other links from the Internet.