<center>
<img src="https://cdn.images.express.co.uk/img/dynamic/36/590x/secondary/Jack-Nicholson-in-The-Shining-2043016.jpg" alt="Jack-Nicholson-in-The-Shining">
</center>

In [1]:
# If the picture does not work for you (there is no Internet connection),
# you can uncomment these two lines below and then run the cell. The picture should appear.
# These two:

#from IPython.display import Image
#Image("./images/Jack-Nicholson-in-The-Shining-2043016.jpg")

# <center> <h1> Here's Python! </h1> </center>

# Why learn Python?

Python is a widely-used general-purpose, high-level programming language. It was initially designed by Guido van Rossum in 1991 and developed by Python Software Foundation. It was mainly developed for emphasis on code readability, and its syntax allows programmers to express concepts in fewer lines of code

Python, as a high-level programming language, allows you to focus on the core functionality of the application by taking care of common programming tasks. The simple syntax rules of the programming language further make it easier for you to keep the code base readable and application maintainable.

https://www.codingdojo.com/blog/why-you-should-learn-python

https://medium.com/datadriveninvestor/5-reasons-why-i-learned-python-and-why-you-should-learn-it-as-well-917f781aea05

https://dbader.org/blog/why-learn-python

https://hackernoon.com/10-reasons-to-learn-python-in-2018-f473dc35e2ee

https://www.edureka.co/blog/10-reasons-why-you-should-learn-python

https://www.geeksforgeeks.org/12-reasons-why-you-should-learn-python/

https://codingnomads.co/blog/business/why-learn-python/

### Your Python version

In [2]:
!python --version

Python 3.8.5

#### [Python programming language](https://www.python.org)
 
#### Here you can see additional information about Python (3.8): https://docs.python.org/3.8/tutorial/

Some other links:

Russian: https://github.com/MelLain/mipt-python

https://stanfordpython.com/#overview

https://github.com/jrjohansson/scientific-python-lectures

https://nbviewer.jupyter.org/gist/rpmuller/5920182

https://www.w3schools.com/python/python_intro.asp

https://developers.google.com/edu/python/introduction

https://beginnersbook.com/2018/01/introduction-to-python-programming/

https://en.wikipedia.org/wiki/Python_(programming_language)

# You can see links to Python practice at the end of the document

### The symbol '!' and other magic things in Jupyter are shown here:

https://blog.dominodatalab.com/lesser-known-ways-of-using-notebooks/

https://towardsdatascience.com/optimizing-jupyter-notebook-tips-tricks-and-nbextensions-26d75d502663

https://towardsdatascience.com/15-tips-and-tricks-to-use-jupyter-notebook-more-efficiently-ef05ede4e4b9

https://www.dataquest.io/blog/jupyter-notebook-tips-tricks-shortcuts/

https://ipython.readthedocs.io/en/stable/interactive/magics.html

https://jakevdp.github.io/PythonDataScienceHandbook/01.05-ipython-and-shell-commands.html

https://medium.com/swlh/some-neat-jupyter-tricks-be0775c3f17

https://www.datacamp.com/community/tutorials/markdown-in-jupyter-notebook?utm_source=adwords_ppc&utm_campaignid=1455363063&utm_adgroupid=65083631748&utm_device=c&utm_keyword=&utm_matchtype=b&utm_network=g&utm_adpostion=&utm_creative=332602034361&utm_targetid=dsa-429603003980&utm_loc_interest_ms=&utm_loc_physical_ms=9047023&gclid=EAIaIQobChMI5JuB-9yf6wIVRxV7Ch3oCwftEAAYASAAEgJp9vD_BwE

Russian: https://nuancesprog.ru/p/5616/

### PEP 8 -- Style Guide for Python Code

https://www.python.org/dev/peps/pep-0008/

https://realpython.com/python-pep8/

https://www.datacamp.com/community/tutorials/pep8-tutorial-python-code?utm_source=adwords_ppc&utm_campaignid=1455363063&utm_adgroupid=65083631748&utm_device=c&utm_keyword=&utm_matchtype=b&utm_network=g&utm_adpostion=&utm_creative=332602034361&utm_targetid=aud-392016246653:dsa-429603003980&utm_loc_interest_ms=&utm_loc_physical_ms=9047023&gclid=EAIaIQobChMIz56Rx42f6wIVEwCiAx3FZAwsEAAYASAAEgLCUfD_BwE

https://www.knowledgehut.com/blog/programming/python-pep8

Check your Python code: http://pep8online.com

Russian: https://pep8.ru/doc/pep8/

Russian: https://pythonworld.ru/osnovy/pep-8-rukovodstvo-po-napisaniyu-koda-na-python.html

Russian: https://geekbrains.ru/posts/pep8

## Using python as a calculator

https://www.programiz.com/python-programming/operators

In [3]:
1 + 1

2

In [4]:
# Multiply two operands.

5 * 5

25

In [5]:
10 * (15 - 5)

100

In [6]:
# Exponent - left operand raised to the power of right.
# x**y (x to the power y).

2**4  # (x**y)

16

In [7]:
# Divide left operand by the right one (always results into float).

10 / 2

5.0

In [8]:
# Floor division - division that results in the whole number adjusted to the left in the number line.

10 // 2

5

In [9]:
10 / 3

3.3333333333333335

In [10]:
10 // 3

3

In [11]:
10 / 9

1.1111111111111112

In [12]:
# Modulus - the remainder of the division of left operand by the right.
# x % y (remainder of x/y).

10 % 9

1

## Variables (int, bool, float, complex)

### What is the difference between statically typed and dynamically typed languages?

Declaring variables in JavaScript, Ruby and Python is different from in languages such as C, Java and C++. This is because they are dynamically typed languages. This means that the types of the variables that you declare are enforced at run-time as opposed to compile-time (and vice versa for C, Java and C++).

**Dynamic**: types are enforced by the value of the variable, thus the type of the variable can be changed if the value of the variable changes.

**Static**: types are enforced by the variable itself, meaning it cannot be changed and the value that is assigned to it MUST be of the type dictated by the variable.

https://stackoverflow.com/questions/1517582/what-is-the-difference-between-statically-typed-and-dynamically-typed-languages

https://www.geeksforgeeks.org/why-python-is-called-dynamically-typed/

https://realpython.com/lessons/dynamic-vs-static/

In [13]:
# You don't need to specify the type of a variable in Python.

a = 1
b = 5

In [14]:
# type() method returns class type of the argument(object) passed as parameter.
# type() function is mostly used for debugging purposes.

type(a)

int

In [15]:
# Output of results

print(a, ' and ', b)

# Do you know about 'print()'?

1  and  5

https://www.w3schools.com/python/ref_func_print.asp

https://www.programiz.com/python-programming/methods/built-in/print

https://www.programiz.com/python-programming/input-output-import

In [16]:
print("Hello", "how are you?")

Hello how are you?

In [17]:
print("Hello", "how are you?", sep="---")

Hello---how are you?

In [18]:
# But what about input and output (I/O) in Python?

https://docs.python.org/3/tutorial/inputoutput.html

https://www.w3schools.com/python/ref_func_input.asp

https://www.tutorialspoint.com/python/python_files_io.htm

In [19]:
# https://pynative.com/python-input-function-get-user-input/

a = input('Write something, please: ')
a

Write something, please: 45

'45'

In [20]:
type(a)

str

In [21]:
# See below about 'str'.

In [22]:
x = input('Enter your name: ')
print('Hello, ' + x)

Enter your name: qwerty
Hello, qwerty

In [23]:
# Type float(x) to convert x to a floating-point number.
a = 1
a = float(a)

In [24]:
# Output of 'a'

a

1.0

In [25]:
type(a)

float

In [26]:
# In programming you often need to know if an expression is True or False.
# You can evaluate any expression in Python, and get one of two answers, True or False.
# When you compare two values, the expression is evaluated and Python returns the Boolean answer:

t = True
t

True

In [27]:
f = False
f

False

In [28]:
type(t)

bool

In [29]:
type(f)

bool

In [30]:
# Floating-point number.

c = 4.5
c

4.5

In [31]:
# You can write .5 instead of 0.5, it will be the same number.

c = .5
c

0.5

In [32]:
d = 0.5
d

0.5

In [33]:
a

1.0

In [34]:
c = 6.7

In [35]:
type(c)

float

In [36]:
c = int(c)

In [37]:
c

6

In [38]:
type(c)

int

In [39]:
d = 8.
e = 1.2e3
print(d, e)

8.0 1200.0

In [40]:
a = 1
b = 2
c = a / b

print(a, b, c)

# Anything after a '#' is a comment.
# Note that `c` has a different type (float) compared to `a` and `b` (which are of integer type).

1 2 0.5

In [41]:
type(a)

int

In [42]:
type(c)

float

In [43]:
a = 123
type(a)

int

In [44]:
print(type(a))

# Do you understand the output of the function?
# If you don't know object-oriented programming yet, you will find out more about it later (below section).

<class 'int'>

In [45]:
# Multiple assignments in Python
a, b, c = 1, 2, 5

# https://note.nkmk.me/en/python-multi-variables-values/
# https://treyhunner.com/2018/03/tuple-unpacking-improves-python-code-readability/

In [46]:
a

1

In [47]:
b

2

In [48]:
c

5

In [49]:
a = b = c = 99

In [50]:
a

99

In [51]:
b

99

In [52]:
c

99

In [53]:
a, b = 2, 3
a, b = b, a

In [54]:
a

3

In [55]:
b

2

In [56]:
# You can assign a variable to output a function.
# See below about functions.

v73 = type(73)
type(v73)

type

In [57]:
v73

int

In [58]:
aaa = type(4.5)
aaa

# Is it a correct variable name?

# Choosing names which are sensible and can be easily understandable, while coding in Python, is very crucial.
# This will save time and energy of a reader.
# Inappropriate names might lead to difficulties when debugging.

float

In [59]:
# Complex number.

a = 1 + 5j
a

(1+5j)

In [60]:
type(a)

complex

In [61]:
print(type(a))

<class 'complex'>

In [62]:
# Conjugate number.

a.conjugate()

(1-5j)

In [63]:
c1 = 2 + 1j
c2 = 1 / 1j
c3 = 1j

print(c1)
print(c2)
print(c3)

(2+1j)
-1j
1j

In [64]:
c1 = 2 + 1 * j

# Is it the correct syntax?

NameError: name 'j' is not defined

In [65]:
c1 = 2 + 0j
c1

(2+0j)

In [66]:
type(c1)

complex

In [67]:
c4 = 1 + 2i
print(c4)

# Is it the correct syntax? 'j' or 'i'? Or something else?

SyntaxError: invalid syntax (<ipython-input-67-05cfda504ca3>, line 1)

In [68]:
a, b = 3, 3 + 4j

In [69]:
a

3

In [70]:
b

(3+4j)

In [71]:
a, b = b, a

In [72]:
a

(3+4j)

In [73]:
b

3

In [74]:
a = 5

In [75]:
a = complex(a)

In [76]:
a

(5+0j)

In [77]:
b = int(a)
b

TypeError: can't convert complex to int

### Problem №0 (all answers are at the end of the notebook):

Can you find the real and imaginary parts of a complex number (for example, a = 3 + 7j) using **Tab**?

So, you have a = 3 + 7j. Then you need to use **Tab**. 

Could you find it?

## Operations with numeric variables

In [78]:
a = 1
b = 2

print(a == b)  # Equal to - True if both operands are equal
print(
    a + 1 > b)  # Greater than - True if left operand is greater than the right
print(
    a + 1 >= b
)  # Greater than or equal to - True if left operand is greater than or equal to the right
print(type(a + 1 > b))

False
False
True
<class 'bool'>

In [79]:
j = True
k = False
l = j == k  # Do you understand this? What is 'l' here?

print(j, k, l)

True False False

In [80]:
# booleans
j = True
k = False
l = j != k  # Not equal to - True if operands are not equal. And the same question about 'l'.

print(j, k, l)

True False True

In [81]:
# booleans
j = False
k = False
l = j == k

print(j, k, l)

False False True

In [82]:
a = -3
a

-3

In [83]:
a = a * (-1)
a

3

In [84]:
a = 45
a2 = a
a2

45

In [85]:
a2 + 4

49

In [86]:
a2 = a2 + 4
a2

49

In [87]:
a2 = a
a2

45

In [88]:
# There are various compound operators in Python like a += 5 that adds to the variable and later assigns the same.
# It is equivalent to a = a + 5.

In [89]:
a2 += 4  # a2 = a2 + 4
a2

49

In [90]:
a3 = a + 3
a3

48

In [91]:
a3 *= 3
a3
# and the same for '-=' and '/=' and '%=' and '//=' and '**='

144

In [92]:
1 & 1  # Bitwise AND

1

In [93]:
1 & 0

0

In [94]:
0 & 0

0

In [95]:
1 | 1  # Bitwise OR

1

In [96]:
1 | 0

1

In [97]:
0 | 0

0

In [98]:
1 ^ 0  # Bitwise XOR

1

In [99]:
1 ^ 1

0

In [100]:
0 ^ 1

1

In [101]:
0 ^ 0

0

In [102]:
# The 'not' keyword is a logical operator.
# The return value will be True if the statement(s) are not True, otherwise, it will return False.

not 1

False

In [103]:
not 0

True

## NoneType variables (NoneType)

https://www.w3schools.com/python/ref_keyword_none.asp

In [104]:
type(print)

builtin_function_or_method

In [105]:
a = print(1)

1

In [106]:
a

In [107]:
type(a)

NoneType

In [108]:
# The None keyword is used to define a null value or no value at all.

In [109]:
type(print(1))

1

NoneType

In [110]:
type(1)

int

In [111]:
type(type(1))

type

In [112]:
a = None

In [113]:
a

In [114]:
print(a)

None

In [115]:
type(a)

NoneType

## String variables (str)

https://www.programiz.com/python-programming/string

https://www.w3schools.com/python/python_strings.asp

Russian: https://pythonz.net/references/named/str/

In [116]:
# Like many other popular programming languages, strings in Python are arrays of bytes representing
# Unicode characters.
# However, Python does not have a character data type, a single character is simply a string with a length of 1.
# Square brackets can be used to access elements of the string.

In [117]:
a = 'Hello world'
a

'Hello world'

In [118]:
type(a)

str

In [119]:
a = "Hello, World!"
print(a[1])

e

In [120]:
a = "Hello world"
a

'Hello world'

In [121]:
type(a)

str

In [122]:
'Hello world'

'Hello world'

In [123]:
a = 545
type(a)

int

In [124]:
a = str(a)
a

'545'

In [125]:
type(a)

str

In [126]:
f1 = 'Hello!'
f2 = "Hi"

g = """Hi there!
I'm a multiline string!"""

h = 'foo' 'bar'
h1 = 'foo', 'bar'

i = ' """"""""""" '

print(f1, f2)
print(g)
print(h)
print(h1)
print(i)

Hello! Hi
Hi there!
I'm a multiline string!
foobar
('foo', 'bar')
 """""""""""

## Operations with string variables and string formatting

In [127]:
"Hello" + " " + "world"

'Hello world'

In [128]:
'Hello' + ' world' + ", ok?"

'Hello world, ok?'

In [129]:
"\" Text:) \""

'" Text:) "'

In [130]:
'\" Text:) \"'

'" Text:) "'

In [131]:
"\' Text:) \'"

"' Text:) '"

In [132]:
'\' Text:) \''

"' Text:) '"

Format String Syntax:

https://pyformat.info
    
https://www.learnpython.org/en/String_Formatting
    
https://www.w3schools.com/python/ref_string_format.asp

In [133]:
a = 1
b = 2
print("Hello " + "world!")
print("%i + %i = %i" % (a, b, a + b))
print("%f + %f = %f" % (a, b, a + b))
print("{} + {} = {}".format(a, b, a + b))
print("{var_a} + {var_b} = {result}".format(result=a + b, var_a=a, var_b=b))
print("1 + 2 = %.6f" % (1 + 2))
print("1 + 2 = {}".format(1 + 2))
print("1 + 2 = {:.4f}".format(1 + 2))

Hello world!
1 + 2 = 3
1.000000 + 2.000000 = 3.000000
1 + 2 = 3
1 + 2 = 3
1 + 2 = 3.000000
1 + 2 = 3
1 + 2 = 3.0000

In [134]:
# Do you know how to write **10.45** as **10.45000** using the information from the previous cell?

In [135]:
'Hello, {}!'.format('world')

'Hello, world!'

In [136]:
name = "Fred"
f"He said his name is {name}."

'He said his name is Fred.'

https://realpython.com/python-f-strings/

## Other variables (list, tuple, dict, set)

### List
We'll start with lists - they represent arrays of objects:

https://www.w3schools.com/python/python_lists.asp

https://www.programiz.com/python-programming/list

https://developers.google.com/edu/python/lists

In [137]:
# List is a collection which is ordered and changeable. Allows duplicate members.

# Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

# Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.

# Set is a collection which is unordered and unindexed. No duplicate members.

In [138]:
array1 = [1, 2, -3, 'hello', 4e5, 8j, False]
print(array1)
print(type(array1))

[1, 2, -3, 'hello', 400000.0, 8j, False]
<class 'list'>

In [139]:
array11 = array1 + array1
print(array11)

[1, 2, -3, 'hello', 400000.0, 8j, False, 1, 2, -3, 'hello', 400000.0, 8j, False]

In [140]:
# list.append(elem) -- adds a single element to the end of the list.
# Common error: does not return the new list, just modifies the original.

array1.append('world')
array1

[1, 2, -3, 'hello', 400000.0, 8j, False, 'world']

In [141]:
array2 = [[True, False], ['Hello'], 42]
array2

[[True, False], ['Hello'], 42]

In [142]:
array2.append(array2)
array2

[[True, False], ['Hello'], 42, [...]]

Here's how you can index lists (indexing starts with 0):

In [143]:
array1 = [1, 2, -3, 'hello', 4e5, 8j, False]
print(array1[0])
print(array1[-1])
print(array1[-2])
print(array1[-4])

1
False
8j
hello

In [144]:
array1 = [1, 2, -3, 'hello', 4e5, 8j, False]
print(array1[:6:2])  # most general form - every 2nd element from 1 to 6
print(array1[2::3])  # elements from 2 to the end with step 3
print(array1[::2])  # every 2nd element starting from 0
print(array1[::-1])  # all list in reverse order
print(array1[2:5])  # elements from 2 to 5 (not including 5)
print(array1[-2:])  # last two elements of the list

[1, -3, 400000.0]
[-3, 8j]
[1, -3, 400000.0, False]
[False, 8j, 400000.0, 'hello', -3, 2, 1]
[-3, 'hello', 400000.0]
[8j, False]

In [145]:
# See below about 'for' in Python.

a = [1, 2, 3, 'Hello']

for i in a:
    print(i, type(i))

print(type(a))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
Hello <class 'str'>
<class 'list'>

About **range** function you can read here: https://www.geeksforgeeks.org/python-range-function/

In [146]:
a = []
for i in range(5):
    a.append(i)
print(a)

[0, 1, 2, 3, 4]

In [147]:
# list.insert(index, elem) -- inserts the element at the given index, shifting elements to the right.

a = []
for i in range(1, 20, 3):
    print(i)
    a.insert(0, i)
print("\n")
print(a)

1
4
7
10
13
16
19


[19, 16, 13, 10, 7, 4, 1]

In [148]:
a = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
for i in range(10):
    print(a[i])

1
1
1
1
1
1
1
1
1
1

In [149]:
a = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
for i in range(10):
    print(a)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [150]:
a = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
b = [1, 1, 1, 1, 1]
c = [1, 1, 1, 1, 1]
for i in range(1, 10, 3):
    print(i)
    a.insert(0, 'c')
    b.insert(i, 'w')
    c.insert(i + 1, 'w')
print()
print(a)
print("\n")
print(b)
print("")
print(c)

1
4
7

['c', 'c', 'c', 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]


[1, 'w', 1, 1, 'w', 1, 1, 'w']

[1, 1, 'w', 1, 1, 'w', 1, 'w']

In [151]:
# list.extend(list2) adds the elements in list2 to the end of the list.
# Using + or += on a list is similar to using extend().

a = [1, 1, 1]
b = [5, 5, 5]
a.extend(b)
a

[1, 1, 1, 5, 5, 5]

In [152]:
# list.remove(elem) -- searches for the first instance of the given element and
# removes it (throws ValueError if not present)

a = [1, 1, 1]
a.remove(1)
a

[1, 1]

In [153]:
a = [4, 1, 1]
a.remove(4)
a

[1, 1]

In [154]:
a = [4, 1, 1]
a.remove(7)
a

ValueError: list.remove(x): x not in list

In [155]:
# Do you understand the previous error?

In [156]:
# The count() method returns the number of times the specified element appears in the list.

a = [4, 1, 1, 5, 8, 10, 4, -4]
a.count(-4)

1

In [157]:
# list.reverse() -- reverses the list in place (does not return it).

a = [4, 1, 1, 5, 8, 10, 4, -4, 't', 'r']
a.reverse()
a

['r', 't', -4, 4, 10, 8, 5, 1, 1, 4]

In [158]:
a = [4, 1, 1, 5, 8, 10, 4, -4, 't', 'r']
a[::-1]  # reverse()

['r', 't', -4, 4, 10, 8, 5, 1, 1, 4]

In [159]:
# The clear() method removes all items from the list.

a = [4, 1, 1, 5, 8, 10, 4, -4, 't', 'r']
a.clear()
a

[]

In [160]:
# list.sort() -- sorts the list in place (does not return it).
# The sorted() function shown later is preferred.

a = [4, 1, 1, 5, 8, 10, 4, -4]
a.sort()
a

[-4, 1, 1, 4, 4, 5, 8, 10]

In [161]:
a = [4, 1, 1, 5, 8, 10, 4, -4, 't', 'r']
a.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [162]:
# Do you understand the previous error?

In [163]:
a, b = [1, 2]

In [164]:
a

1

In [165]:
type(a)

int

In [166]:
# Join two lists together:

a = [10, 20, 30, 40]
b = ['a', 'b', 'c', 'd', 'e']
for i, j in zip(a, b):
    print(i, j)

10 a
20 b
30 c
40 d

https://www.programiz.com/python-programming/methods/built-in/zip

https://realpython.com/python-zip-function/

Important link about built-in functions in Python: https://docs.python.org/3.3/library/functions.html

**The Python interpreter has some functions and types built into it that are always available.**

In [167]:
import itertools  # See below about 'import'

a = [10, 20, 30, 40]
b = ['a', 'b', 'c', 'd', 'e']
c = [1.1, 1.2]
for i in itertools.zip_longest(a, b, c):
    print(i)

(10, 'a', 1.1)
(20, 'b', 1.2)
(30, 'c', None)
(40, 'd', None)
(None, 'e', None)

https://www.geeksforgeeks.org/python-itertools-zip_longest/
    
https://docs.python.org/3.0/library/itertools.html
    
Russian: https://python-scripts.com/itertools

In [168]:
s = 'abc'
t = (10, 20, 30, 40)
a = list(zip(s, t))
a

[('a', 10), ('b', 20), ('c', 30)]

In [169]:
type(a)

list

https://www.geeksforgeeks.org/filter-in-python/

https://www.programiz.com/python-programming/methods/built-in/filter

https://book.pythontips.com/en/latest/map_filter.html

In [170]:
a = [-1, 0, 1, 0, 0, 1, 0, -1]
b = list(filter(None, a))
b

[-1, 1, 1, -1]

In [171]:
a = ['a', '', 'd', 'cc', ' ']
b = list(filter(None, a))
b

['a', 'd', 'cc', ' ']

### Problem №1 (all answers are at the end of the notebook):

Write a Python program to clone or copy a list.

You have original_list = [50, 4, 52, 't', 34, '9z4'].

### Problem №2 (all answers are at the end of the notebook):

Write a Python program to convert a list of characters into a string.

You have list1 = ['h', 'e', 'l', 'l', 'o', ',', ' ', 'w', 'o', 'r', 'l', 'd', '!']

### Tuple

A very similar type is called "tuple". Similarly to lists, tuples are arrays of objects. The major difference is that they are **immutable**.

https://www.w3schools.com/python/python_tuples.asp

https://www.programiz.com/python-programming/methods/tuple

https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences

In [172]:
array2 = [[True, False], ['Hello'], 42]
tuple1 = (1, 2, 'foo')
tuple2 = tuple(array2)  # You can initialize tuples with lists and vice versa
print(tuple1)
print(tuple2)

(1, 2, 'foo')
([True, False], ['Hello'], 42)

Note that inner lists from `array2` are stored as lists within the `tuple2`, so they are mutable:

In [173]:
# https://www.tutorialspoint.com/How-to-append-elements-in-Python-tuple

tuple2[0].append(8)
print(tuple2)

([True, False, 8], ['Hello'], 42)

Also note, that the first item in `array2` has changed as well:

In [174]:
array2

[[True, False, 8], ['Hello'], 42]

This illustrates a very important feature of python: all objects are stored by reference. Since `tuple2` was initialized from `array2`, they both reference the same object instances.

You can check whether two variables are referencing the same object with `is` operator:

In [175]:
print(array2[-1])
print(array2[-1] is array2)
print(tuple2[0] is array2[0])

42
False
True

Two empty tuples created with `tuple()` expression will reference the same object:

In [176]:
tuple() is tuple()

True

while two empty lists won't, since lists are mutable (and the two empty list instances may be changed differently):

In [177]:
list() is list()

False

### Dict

Another important type is a **dictionary**. Dictionaries are key->value mappings with a restriction that keys can only be immutable objects.

https://realpython.com/python-dicts/

https://www.w3schools.com/python/python_dictionaries.asp

https://www.programiz.com/python-programming/dictionary

Several ways to create and fill a dictionary:

In [178]:
dict1 = {"foo": 'bar', -3: False}
dict2 = dict(foo='bar', hello='world')

print(dict1)
print(dict2)

{'foo': 'bar', -3: False}
{'foo': 'bar', 'hello': 'world'}

Accessing elements:

In [179]:
print(dict1[-3])
print(dict2['foo'])

dict2['new_key'] = 'new_value'
print(dict2)

False
bar
{'foo': 'bar', 'hello': 'world', 'new_key': 'new_value'}

In [180]:
d = {'key': 'value'}
print(d)

d['mynewkey'] = 'mynewvalue'
print(d)

{'key': 'value'}
{'key': 'value', 'mynewkey': 'mynewvalue'}

In [181]:
x = {1: 2}
print(x)

{1: 2}

In [182]:
# https://www.tutorialspoint.com/python/dictionary_update.htm

d = {3: 4, 5: 6, 7: 8}
x.update(d)
print(x)

{1: 2, 3: 4, 5: 6, 7: 8}

In [183]:
names = ['Tom', 'Dick', 'Harry']
ages = [50, 35, 60]

a = dict(zip(names, ages))
a

{'Tom': 50, 'Dick': 35, 'Harry': 60}

In [184]:
type(a)

dict

### Set and frozenset

https://www.programiz.com/python-programming/set

https://www.w3schools.com/python/python_ref_set.asp

https://www.programiz.com/python-programming/methods/built-in/frozenset

https://docs.python.org/2.4/lib/types-set.html

Russian: https://pythonworld.ru/tipy-dannyx-v-python/mnozhestva-set-i-frozenset.html

In [185]:
a = {4, 5, 6}
a

{4, 5, 6}

In [186]:
type(a)

set

In [187]:
b = frozenset('qwerty')
b

frozenset({'e', 'q', 'r', 't', 'w', 'y'})

In [188]:
type(b)

frozenset

In [189]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

# Note: Sets are unordered, so you cannot be sure in which order the items will appear.
# Once a set is created, you cannot change its items, but you can add new items.
# To add one item to set use the add() method.
# To add more than one item to set use the update() method.

{'banana', 'apple', 'cherry'}

In [190]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")  # https://www.geeksforgeeks.org/set-add-python/

print(thisset)

{'banana', 'orange', 'apple', 'cherry'}

In [191]:
thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'grapes', 'mango', 'orange', 'cherry', 'banana', 'apple'}

https://www.w3schools.com/python/ref_func_len.asp

https://www.programiz.com/python-programming/methods/built-in/len

https://www.tutorialspoint.com/python/list_len.htm

In [192]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [193]:
# To remove an item in a set, use the remove(), or the discard() method.

thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")  # https://www.w3schools.com/python/ref_set_remove.asp

print(thisset)

{'apple', 'cherry'}

In [194]:
thisset = {"apple", "banana", "cherry"}

thisset.discard(
    "banana")  # https://www.w3schools.com/python/ref_set_discard.asp

print(thisset)

{'apple', 'cherry'}

In [195]:
# Remove the last item by using the pop() method:

thisset = {"apple", "banana", "cherry"}

x = thisset.pop()  # https://www.w3schools.com/python/ref_set_pop.asp

print(x)

print(thisset)

banana
{'apple', 'cherry'}

In [196]:
# The clear() method empties the set:

thisset = {"apple", "banana", "cherry"}

thisset.clear()  # https://www.w3schools.com/python/ref_set_clear.asp

print(thisset)

set()

## Loops, conditionals and iterables

### Indentation in Python:

**A block is a combination of all these statements. Block can be regarded as the grouping of statements for a specific purpose. Most of the programming languages like C, C++, Java use braces { } to define a block of code. One of the distinctive features of Python is its use of indentation to highlighting the blocks of code. Whitespace is used for indentation in Python. All statements with the same distance to the right belong to the same block of code. If a block has to be more deeply nested, it is simply indented further to the right.**

https://www.geeksforgeeks.org/statement-indentation-and-comment-in-python/

https://www.w3schools.com/python/gloss_python_indentation.asp

https://www.programiz.com/python-programming/statement-indentation-comments

https://www.w3schools.in/python-tutorial/concept-of-indentation-in-python/

Important links for the section:

https://www.w3schools.com/python/python_for_loops.asp
    
https://wiki.python.org/moin/ForLoop

https://www.geeksforgeeks.org/loops-in-python/

In [197]:
null_variable = None
not_null_variable = 'Hello There!'

if null_variable is None:
    print('null_variable is None')  # Four spaces or one Tab
else:
    print('null_variable is not None')  # Four spaces or one Tab

null_variable is None

**while** in Python:

https://realpython.com/python-while-loop/
    
https://www.w3schools.com/python/python_while_loops.asp

https://www.tutorialspoint.com/python/python_while_loop.htm

In [198]:
a = 0

while a < 10:
    a += 1
    print(a**2)

1
4
9
16
25
36
49
64
81
100

In [199]:
a = 0

while a < 10:
   a += 1
   print(a**2)

# Can you fix the line with 'a += 1'?

1
4
9
16
25
36
49
64
81
100

In [201]:
a = 0

while a < 10:
    a += 1
  print(a**2)

# Can you fix the line with 'print(a**2)'?

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 5)

**break**, **continue** and **pass** in Python:

https://medium.com/better-programming/how-to-use-pass-break-and-continue-in-python-6e0201fc032a

https://www.digitalocean.com/community/tutorials/how-to-use-break-continue-and-pass-statements-when-working-with-loops-in-python-3

https://www.tutorialspoint.com/python/python_loop_control.htm

In [202]:
a = 2
for i in range(10):
    print('i = ', i)
    if a < 7:
        print('a = ', a)
    else:
        print("end")
        break
    a += 1
    print("\n")

i =  0
a =  2


i =  1
a =  3


i =  2
a =  4


i =  3
a =  5


i =  4
a =  6


i =  5
end

In [203]:
i = 0
while i < 10:
    if i == 5:
        print("end.")
        break
    else:
        print(i)
        i += 1

0
1
2
3
4
end.

In [204]:
# Now without 'print("end.")'
# Do you understand the logic of 'break'?
# Where is out from 'print("end.")'?

i = 0
while i < 10:
    if i == 5:
        break
        print("end.")
    else:
        print(i)
        i += 1

0
1
2
3
4

In [205]:
for num in range(7):
    print('num = ', num)
    if num == 3:
        continue
    if num == 5:
        continue
    else:
        print(num)

num =  0
0
num =  1
1
num =  2
2
num =  3
num =  4
4
num =  5
num =  6
6

In [206]:
for num in range(7):
    print('num = ', num)
    if num == 3:
        print('some text')
        continue
    if num == 5:
        continue
    else:
        print(num)

num =  0
0
num =  1
1
num =  2
2
num =  3
some text
num =  4
4
num =  5
num =  6
6

In [207]:
# Do you understand the logic of 'continue'?
# Where is out from 'print('some text')'?

for num in range(7):
    print('num = ', num)
    if num == 3:
        continue
        print('some text')
    if num == 5:
        continue
    else:
        print(num)

num =  0
0
num =  1
1
num =  2
2
num =  3
num =  4
4
num =  5
num =  6
6

In [208]:
for num in range(7):
    if num < 3:
        pass
    else:
        print(num)

3
4
5
6

In [209]:
# Do you understand the logic of 'pass'?

for num in range(7):
    if num < 3:
        pass
        print('text')
    else:
        print(num)

text
text
text
3
4
5
6

A loop over elements of a list:

In [210]:
objects = [1, 2, 'hello', False]

for obj in objects:
    print(obj)

1
2
hello
False

In [211]:
for i in range(5):
    print(i)

0
1
2
3
4

Note that `range` has more arguments. Place the cursor right after the opening bracket and hit **TAB** to see help:

In [212]:
# for i in range(20, 63, 3):
for i in range()
    print(i)

SyntaxError: invalid syntax (<ipython-input-212-d62f31091e7d>, line 2)

In [213]:
for i in range(100):
    if i % 7 == 1 and i % 5 == 3:
        print("i % 7 == 1 and i % 5 == 3:", i)
    if not (i > 3) or i > 98:
        print("not (i > 3) or i > 98:", i)

not (i > 3) or i > 98: 0
not (i > 3) or i > 98: 1
not (i > 3) or i > 98: 2
not (i > 3) or i > 98: 3
i % 7 == 1 and i % 5 == 3: 8
i % 7 == 1 and i % 5 == 3: 43
i % 7 == 1 and i % 5 == 3: 78
not (i > 3) or i > 98: 99

In [214]:
list1 = [3, 15, 27, 42]
list2 = []

for i in range(30):
    if i in list1:
        list2.append(i**2)

print(list2)

[9, 225, 729]

**List comprehension**:

https://www.programiz.com/python-programming/list-comprehension

https://realpython.com/list-comprehension-python/

Russian: https://habr.com/ru/post/479252/ (See below about '**map**')

In [215]:
squares = []
squares

[]

In [216]:
# list comprehension

squares = [i * i for i in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [217]:
odds = [x for x in range(10)]
odds

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [218]:
odds = [x for x in range(10) if x % 2 != 0]
odds

[1, 3, 5, 7, 9]

In [219]:
[x**2 if x % 2 == 0 else x**3 for x in range(10)]

[0, 1, 4, 27, 16, 125, 36, 343, 64, 729]

In [220]:
a = [x**2 if x % 2 == 0 else x**3 for x in range(10)]
type(a)

list

In [221]:
# Dictionary of string and int
word_freq = {"Hello": 56, "at": 23, "test": 43, "this": 78}

key = 'test'

# python check if key in dict using "in"
if key in word_freq:
    print(f"Yes, key: '{key}' exists in dictionary")
else:
    print(f"No, key: '{key}' does not exists in dictionary")

Yes, key: 'test' exists in dictionary

In [222]:
# Dictionary of string and int
word_freq = {"Hello": 56, "at": 23, "test": 43, "this": 78}

key = 'notest'

# python check if key in dict using "in"
if key in word_freq:
    print(f"Yes, key: '{key}' exists in dictionary")
else:
    print(f"No, key: '{key}' does not exists in dictionary")

No, key: 'notest' does not exists in dictionary

This is **map**:
    
https://www.geeksforgeeks.org/python-map-function/

https://www.journaldev.com/22960/python-map-function

https://www.tutorialsteacher.com/python/python-map-function

In [223]:
list_of_words = ['one', 'two', 'list', '', 'dict']
list(map(str.upper, list_of_words))

['ONE', 'TWO', 'LIST', '', 'DICT']

In [224]:
list_of_str = ['1', '2', '5', '10']
list(map(float, list_of_str))

[1.0, 2.0, 5.0, 10.0]

In [225]:
# https://book.pythontips.com/en/latest/enumerate.html
# https://www.programiz.com/python-programming/methods/built-in/enumerate
# https://www.geeksforgeeks.org/enumerate-in-python/

a = [10, 20, 30, 40]
for i in enumerate(a):
    print(i)

(0, 10)
(1, 20)
(2, 30)
(3, 40)

In [226]:
b = "hello"
for i in enumerate(b):
    print(i)

(0, 'h')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')

In [227]:
c = {1: 'a', 2: 'b', 3: 'c'}
for i in enumerate(c):
    print(i)

(0, 1)
(1, 2)
(2, 3)

**iter**:
    
https://www.w3schools.com/python/ref_func_iter.asp

https://www.programiz.com/python-programming/methods/built-in/iter

https://webdevblog.ru/kak-sozdat-svoj-iterator-v-python/

In [228]:
num_list = [1, 2, 3, 4, 5]
for i in num_list:
    print(i)

1
2
3
4
5

In [229]:
itr = iter(num_list)

In [230]:
print(next(itr))

1

In [231]:
print(next(itr))

2

In [232]:
print(next(itr))

3

In [233]:
print(next(itr))

4

In [234]:
print(next(itr))

5

In [235]:
print(next(itr))

StopIteration:

In [236]:
# Do you understand the previous error?

In [237]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

banana
apple
cherry

In [238]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

### Problem №3 (all answers are at the end of the notebook):

Sum all the items in a list.

You have l = [0, 1, -1, 2, 3, 30, -100, 5]. How to find this sum?

### Problem №4 (all answers are at the end of the notebook):

Write a Python program to check a list is empty or not.

You have list1 = [3, 5, -7, 'mipt', 0.8] and list2 = [].

### Problem №5 (all answers are at the end of the notebook):

Write a Python program to construct the following pattern, using a nested for loop.

#### * 
#### * * 
#### * * * 
#### * * * * 
#### * * * * * 
#### * * * * 
#### * * * 
#### * * 
#### *

<center>
<img src="https://www.w3resource.com/w3r_images/python-conditional-image-exercise-4.png">
</center>

In [239]:
# If the picture does not work for you (there is no Internet connection),
# you can uncomment these two lines below and then run the cell. The picture should appear.
# These two:

#from IPython.display import Image
#Image("./images/python-conditional-image-exercise-4.png")